<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Log message format -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Need appender to write to file -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- Name of the file where the log messages are written -->
        <file>crm.cafe.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="BALANCE" class="ch.qos.logback.core.FileAppender">
        <!-- Name of the file where the log messages are written -->
        <file>crm.cafe.cardBalance.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.cafe.crm.controllers.card.CardProfileController" level="INFO">
        <appender-ref ref="BALANCE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.springframework.web" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.hibernate" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>