<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/js/filter.js}"></script>
</head>

<body>

<div class="table" style="border-radius:5px;padding-right: 250px;padding-left: 250px" th:fragment="tablePosition">
    <table class="table table-striped">
        <tr>
            <th> Название должности</th>
            <th> Действия</th>
            <th></th>
        </tr>
        <tbody class="searchablePosition" th:each="position : ${allPositions}">
        <tr>
            <td th:text="${position.name}"></td>
            <td class="col-lg-2">
                <button class="btn btn-primary btn-info" th:href="'#editPosition'+${position.id}"
                        data-toggle="modal">Редактировать
                </button>
            </td>

            <td class="col-lg-2">
                <button class="btn btn-primary btn-danger" th:href="'#deletePosition'+${position.id}"
                        data-toggle="modal">Удалить
                </button>
            </td>


            <div class="modal fade" th:id="'editPosition'+${position.id}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h2 class="form-signin-heading">Форма Редактирования Должности</h2>
                        </div>
                        <div class="modal-body">
                            <div class="errorMessage"></div>
                            <form class="formEditPosition form-signin" th:action="@{/boss/user/position/edit}" method="POST"
                                  th:attr="data-id=${position.id}">

                                <input type="hidden" class="form-control" th:value="${position.id}" name="id"/>
                                <h4>Название должности</h4>
                                <input type="text" class="form-control" th:value="${position.name}" name="name"/>
                                <br/>

                                <button type="submit" class="btn btn-lg btn-primary btn-block">Изменить Должность
                                </button>
                                <br/>
                            </form>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Отмена
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" th:id="'deletePosition'+${position.id}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h2 class="form-signin-heading">Форма Удаления Должности</h2>
                        </div>
                        <div class="modal-body">
                            <h3 style="color: crimson">Удалить должность?</h3>
                            <br/>
                            <form class="form-signin" th:action="@{'/boss/user/position/delete/'+${position.id}}"
                                  method="GET">
                                <h4>Название должности</h4>
                                <input type="text" class="form-control" th:value="${position.name}" name="name"/>
                                <br/>

                                <button type="submit" class="btn btn-lg btn-primary btn-block">Да</button>
                                <br/>
                                <button type="button" class="btn btn-lg btn-primary btn-block" data-dismiss="modal">
                                    Нет
                                </button>
                                <br/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
