<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/js/filter.js}"></script>

</head>

<body>
<div class="table" style="border-radius:5px" th:fragment="usersByPosition">
    <table class="table table-striped" id="tableUsersByPosition">
        <tr>
            <th> Имя</th>
            <th> Фамилия</th>
            <th> Должность</th>
            <th> Email</th>
            <th> Номер телефона</th>
            <th> Оклад за смену</th>
            <th> Количество смен</th>
            <th> Зарплата</th>
            <th> Бонус</th>
            <th></th>
            <th></th>
        </tr>
        <tbody class="searchableWorker">
        <tr th:each="user : ${usersByPosition.value}">
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.positions}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.shiftSalary}"></td>
            <td th:text="${user.shifts.size()}"></td>
            <td th:text="${user.salary}"></td>
            <td th:text="${user.bonus}"></td>
            <td class="col-lg-2">
                <div th:replace="userAccounting/fragments/modal/modalEditUserForUsersByPositionPanel :: editUser"
                     th:remove="tag"></div>
            </td>
            <td class="col-lg-2">
                <div th:replace="userAccounting/fragments/modal/modalDeleteUserForUsersByPositionPanel :: deleteUser"
                     th:remove="tag"></div>
            </td>

        </tr>

        </tbody>
    </table>
</div>

</body>
</html>
