<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="passwordPrompt" th:remove="tag">
    <div class="modal fade" th:id="'passwordPrompt'+${user.id}">
        <div th:class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="errorMessage"></div>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="form-signin-heading">Введите пароль подтверждения изменений</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" >
                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="password" th:class="'form-control bossPassword'+${user.id}"
                                       name="bossPassword" placeholder="Пароль" pattern=".{1,}" title="Пароль"/>
                            </div>
                        </div>
                        <br/>
                        <button type="button" class="btn btn-lg btn-primary btn-block"
                                th:onclick="'getBossPassword(\'' + ${user.id} + '\');'">
                            Изменить Данные
                        </button>
                        <br/>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Закрыть
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>