<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>
<div class="table" style="border-radius:5px" th:fragment="managerList">
    <table class="table table-striped">
        <tr>
            <th> Имя </th>
            <th> Фамилия </th>
            <th> Email </th>
            <th> Номер телефона </th>
            <th> Должность </th>
            <th> Оклад за смену </th>
            <th> Количество смен </th>
            <th> Зарплата </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tbody class="searchableManager">
        <tr th:each="manager : ${managerList}">

            <div th:if="${manager.enabled==false}">
            </div>

            <div th:if="${manager.enabled==true}">


            <td  th:text="${manager.firstName}"></td>
            <td  th:text="${manager.lastName}"></td>
            <td  th:text="${manager.email}"></td>
            <td  th:text="${manager.phone}"></td>
            <td  th:text="${manager.allPosition}"></td>
            <td  th:text="${manager.shiftSalary}"></td>
            <td  th:text="${manager.allShifts.size()}"></td>
            <td  th:text="${manager.salary}"></td>
            <td  class="col-lg-2" >
                <a class="btn btn-primary btn-info" th:href="'#managerEdit'+${manager.id}" data-toggle="modal" >Редактировать</a>
            </td>

            <td class="col-lg-2" >
                <a class="btn btn-primary btn-danger" th:href="'#managerDelete'+${manager.id}" data-toggle="modal" >Удалить</a>
            </td>



            <div class="modal fade" th:id="'managerEdit'+${manager.id}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="form-signin-heading">Форма Редактирования Сотрудника</h2>
                        </div>
                        <div class="modal-body">
                            <form class="form-signin" action="worker/editManager"  th:action="@{/worker/editManager}" method="POST" th:fragment="editManager" >

                                <input type="hidden" class="form-control"  th:value="${manager.getId()}" name="id"/>

                                <div class="row">
                                    <div class="col-md-6 ">
                                        <h4>Имя</h4>
                                        <input type="text" class="form-control"  th:value="${manager.firstName}"  name="firstName"/>
                                        <br></br>
                                    </div>
                                    <div class="col-md-6 ">
                                        <h4>Фамилия</h4>
                                        <input type="text" class="form-control"  th:value="${manager.lastName}" name="lastName"/>
                                        <br></br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <h4>Email</h4>
                                        <input type="text" class="form-control"  th:value="${manager.email}" name="email"/>
                                        <br></br>
                                    </div>
                                    <div class="col-md-6 ">
                                        <h4>Номер телефона</h4>
                                        <input type="text" class="form-control"  th:value="${manager.phone}" name="phone"/>
                                        <br></br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <h4>Оклад за смену</h4>
                                        <input type="text" class="form-control"  th:value="${manager.shiftSalary}" name="shiftSalary"/>
                                        <br></br>
                                    </div>
                                    <div class="col-md-6 ">
                                        <h4>Количество смен</h4>
                                        <input type="text" class="form-control"  th:value="${manager.countShift}" name="countShift"/>
                                        <br></br>
                                    </div>
                                </div>
                                        <h4>Зарплата</h4>
                                        <input type="text" class="form-control"  th:value="${manager.salary}" name="salary"/>
                                        <br></br>



                                <h3 style="color: black" align="center">Активные должности  &nbsp;&nbsp;&nbsp; <i style="font-size: 30px" class="fa fa-question" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Чтобы удалить должность снимите флаг с нужной позиции!"></i></h3>
                                <div  th:each="position : ${manager.getAllPosition()}" style="margin-left: 25%">

                                    <div  th:if="${position.jobName} == 'Администратор'" >
                                        <input id="pos21"  style="width: 30px;height: 30px; margin-right: 20px" type="checkbox" th:value="${position.id}" th:checked="checked" name="adminPositionId" autocomplete="off" value=""/>
                                        <label for="pos21"><h3 style="color: black;font-size: 30px" th:text="${position.jobName}"></h3></label>
                                    </div>

                                    <div  th:if="${position.jobName} != 'Администратор'">
                                        <input id="pos30" class="coupon_question" style="width: 30px;height: 30px; margin-right: 20px" type="checkbox" th:checked="checked" th:value="${position.id}" name="allPosition" autocomplete="off" value=""/>
                                        <label for="pos30"><h3 style="color: black;font-size: 30px" th:text="${position.jobName}"></h3></label>
                                    </div>
                                </div>



                                <h3 style="color: black" align="center">Добавить должность  &nbsp;&nbsp;&nbsp; <i style="font-size: 30px" class="fa fa-question" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Чтобы добавить должность поставьте флаг на нужную позицию!"></i></h3>
                                <div  th:each="allPosManager : ${allPosManager}" style="margin-left: 25%">
                                    <div class="question" th:if="${allPosManager.jobName} == 'Владелец'" >
                                        <input id="pos60" class="coupon_questionBoss" style="width: 30px;height: 30px; margin-right: 20px" type="checkbox" th:value="${allPosManager.id}" name="bossPositionId" autocomplete="off" value=""/>
                                        <label for="pos60"><h3 style="color: black;font-size: 30px" th:text="${allPosManager.jobName}"></h3></label>
                                    </div>

                                    <div  th:if="${allPosManager.jobName} != 'Владелец'">
                                        <input id="pos5" style="width: 30px;height: 30px; margin-right: 20px" type="checkbox" th:value="${allPosManager.id}" name="allPosition" autocomplete="off" value=""/>
                                        <label for="pos5"><h3 style="color: black;font-size: 30px" th:text="${allPosManager.jobName}"></h3></label>
                                    </div>
                                </div>

                                <br></br>
                                <button type="submit" class="btn btn-lg btn-primary btn-block">Изменить Данные</button>
                                <br></br>
                            </form>
                            <div  class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Закрыть
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="modal fade" th:id="'managerDelete'+${manager.id}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="form-signin-heading">Форма Удаления Сотрудника</h2>
                        </div>
                        <div class="modal-body">
                            <h3 style="color: crimson">Удалить сотрудника?</h3>
                            <br></br>
                            <form class="form-signin" th:action="'worker/deleteWorker/'+${manager.id}"  method="GET">

                                <input type="hidden" class="form-control" readonly="readonly" th:value="${manager.id}" name="id"/>

                                <h4>Имя</h4>
                                <input type="text" class="form-control" th:value="${manager.firstName}" name="firstName"/>
                                <br></br>


                                <h4>Фамилия</h4>
                                <input type="text" class="form-control" th:value="${manager.lastName}" name="lastName"/>
                                <br></br>

                                <h4>Должность</h4>
                                <input type="text" readonly="readonly" class="form-control" th:value="${manager.allPosition}" name="position"/>
                                <br></br>
                                <h4>Login</h4>
                                <input type="text" class="form-control" th:value="${manager.email}" name="email"/>
                                <br></br>

                                <br></br>

                                <h4>Оклад За Смену</h4>
                                <input type="text" class="form-control" th:value="${manager.shiftSalary}" name="shiftSalary"/>
                                <br></br>

                                <button type="submit" class="btn btn-lg btn-primary btn-block">Да</button>
                                <br></br>
                                <button type="button" class="btn btn-lg btn-primary btn-block" data-dismiss="modal">Нет</button>
                                <br></br>
                            </form>

                            <div  class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
