<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
</head>
<body>

<div class="wrapper" th:fragment="newBoss">
    <form action="" method="POST" class="form-signin">
        <button type="button" class="btn btn-lg btn-primary btn-block"
                data-toggle="modal" data-target="#myModalBoss">Добавить Нового Владельца
        </button>
    </form>
    <!-- Modal -->
    <div id="myModalBoss" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Форма Добавления Нового Владельца</h4>
                </div>
                <div class="modal-body">
                    <form id="addBoss" method="POST" action="#" th:action="@{/worker/addBoss}" th:object="${boss}"
                          class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" class="form-control" th:field="*{firstName}" placeholder="Имя"
                                       name="firstName"
                                />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" class="form-control" th:field="*{lastName}" placeholder="Фамилия"
                                       name="lastName"
                                />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" class="form-control" th:field="*{email}" placeholder="Email"
                                       name="email" required=""/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" class="form-control" th:field="*{phone}" placeholder="Телефон"
                                       name="phone" required=""/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="number" class="form-control" th:field="*{shiftSalary}" name="shiftSalary"
                                       placeholder="Оклад" required=""/>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="password" class="form-control" placeholder="Пароль для входа в систему"
                                       name="password" required="" autofocus=""/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div style="margin-left: 32%" id="errorBlockBoss"></div>
                                <input type="password" class="form-control" name="submitPassword"
                                       placeholder="Подтвердите пароль" required="" autofocus=""/>
                            </div>
                        </div>

                        <h3 style="color: black" align="center">Выберете нужные должности</h3>
                        <div th:each="position : ${positionList}">
                            <div style="margin-left: 25%">
                                <div th:if="${position.jobName}=='Владелец'">
                                    <input id="pos4" style="margin-right: 20px ;width: 30px;height: 30px;"
                                           type="checkbox" th:value="${position.id}" th:checked="checked"
                                           name="allPosition" autocomplete="off" value=""/>
                                    <label for="pos4"><h3 style="color: black;font-size: 20px"
                                                          th:text="${position.jobName}"></h3></label>
                                </div>


                                <div th:if="${position.jobName}!='Владелец' AND ${position.jobName} != 'Администратор'">
                                    <input id="pos1" style="margin-right: 20px ;width: 30px;height: 30px;"
                                           type="checkbox" th:value="${position.id}" name="allPosition"
                                           autocomplete="off" value=""/>
                                    <label for="pos1"><h3 style="color: black;font-size: 20px"
                                                          th:text="${position.jobName}"></h3></label>
                                </div>
                            </div>
                        </div>


                        <br></br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Добавить Владельца в базу
                            Данных
                        </button>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>