<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Страница счетов</title>
    <div th:replace="fragments/headTag :: bootstrap"></div>
    <link rel="stylesheet" th:href="@{/css/calculate.css}" type="text/css"/>
    <script th:src="@{/js/cookie.js}"></script>
</head>
<body>

<div th:replace="managernavbar :: managerNavbar"></div>

<div style="margin-top:52px">

    <div class="container" style=" box-shadow: 0 3px 6px 0; border-radius: 10px;
     background: #ffffff; width:950px; ">

        <!--modal window with create calculate-->
        <div th:replace="client/clientFragments/addCalculateFragment :: calculateModal"></div>
        <!-- -->

        <br/>
        <div th:each="calculate : ${listCalculate}">

            <!--head panel -->
            <div class="panel panel-primary">
                <div class="panel-heading" style="height: 44px; padding: 0">
                    <div class="panel-title">
                        <form style="float: left" method="post" action="/manager/refresh-board"
                              th:id="'formRef'+${calculate.id}">
                            <input type="hidden" name="calculateId" th:value="${calculate.id}"/>

                            <select onchange="submit();"
                                    style="width:130px; float: left; height: 34px;font-size:18px;margin-top: 5px;margin-left: 6px "
                                    class="form-control" th:form="'formRef'+${calculate.id}" name="boardId">
                                <option value="-1" th:selected="${listBoard} == null ? 'true' : 'false' ">
                                    Нет
                                </option>
                                <p th:each="b : ${listBoard}">
                                    <option th:value="${b.id}"
                                            th:text="${b.name}"
                                            th:selected="(${calculate.getBoard()} == ${b}) ? 'true' : 'false'"></option>
                                </p>
                            </select>
                        </form>

                        <!--modal window with create calculate-->
                        <div th:replace="client/clientFragments/addClientFragment :: clientModal"></div>
                        <!-- -->

                        <button th:id="'head1' + ${calculate.id}"
                                th:onclick="'cookiePanel(\'' +'accord'+ ${calculate.id} + '\');'"
                                style="float: left; width: 560px; word-wrap: break-word; font-size: 20px; height: 33px;
                                 text-align: center; background: rgba(255,0,0,0);border: none;margin-top: 5px"
                                data-toggle="collapse" th:href="'#accord' + ${calculate.id}"
                                th:text="${calculate.description}">
                        </button>
                        <form th:id="'formRoundState' + ${calculate.id}" action="/manager/change-round-state"
                              method="post">

                            <input type="hidden" name="calculateId" th:value="${calculate.id}"/>
                        </form>

                        <button class="btn btn-primary"
                                style="float: left;margin-left: 10px;margin-top: 5px;border: none;padding: 3px"
                                th:id="'rek' + ${calculate.id}"
                                th:onclick="'roundState(\'' + ${calculate.id} + '\',\'' + ${calculate.roundState} + '\');'">
                            <p style="margin: 0;font-size: 20px"
                               th:text="${calculate.roundState} ? 'Округлено' : 'Не округлено'"></p>
                        </button>

                    </div>
                </div>
                <!-- -->

                <!--body panel -->
                <div th:id="'accord' + ${calculate.id}" class="collapse">
                    <script th:inline="javascript">
                        var id = 'accord' + [[${calculate.id}]];
                        if ($.cookie(id) == true.toString()) {
                            $('#' + id).collapse();
                        }
                    </script>


                    <div class="panel-body" style="background: #f6f6f6">
                        <table style="margin-top: -15px;" class="table ">
                            <thead>

                            <tr style="font-size: 17px">
                                <th style="text-align: center;" th:if="${cardEnable}">Карта</th>
                                <th style="text-align: center;">Описание</th>
                                <th style="text-align: center;">Старт</th>
                                <th style="text-align: center;"></th>

                                <th style="text-align: center;">Скидка</th>
                                <th style="text-align: center;" th:if="${cardEnable}"> ₽ с карты</th>
                                <th style="text-align: center;">Сумма</th>
                                <th th:id="${calculate.id}">
                                    <input th:id="'checked' + ${calculate.id}" type="checkbox"
                                           th:onchange="'check(\'' + ${calculate.id} + '\')'"
                                           class="form-control" style="width: 20px;height: 20px"/>
                                </th>

                                <form th:id="'formTest' + ${calculate.id}"
                                      method="post" action="/manager/delete-clients">
                                    <input type="hidden" name="calculateId" th:value="${calculate.id}"/>
                                </form>
                            </tr>

                            </thead>
                            <tbody style="font-size: 20px">
                            <p th:each="client : ${calculate.client}">
                                <tr>


                                    <td th:if="${cardEnable}">
                                        <!-- Выбор карт-->
                                        <form th:id="'cardSel' + ${client.id}" method="post"
                                              action="/manager/card/add-card-on-client">
                                            <input type="hidden" name="clientId" th:value="${client.id}"/>
                                            <input type="hidden" name="calculateId" th:value="${calculate.id}"/>
                                            <select th:onchange="'ajaxCardDiscount(\'' + ${client.id} + '\', \'' + ${calculate.id} + '\');'"
                                                    class="form-control" name="cardId"
                                                    style="width: 130px; margin: auto; font-size: 17px;font-weight:bold">
                                                <option value="-1"
                                                        th:selected="${client.card} == null ? 'true' : 'false'">Нет
                                                </option>
                            <p th:each="card : ${calculate.cards}">
                                <option th:text="${card.name} + ' ('+${card.balance}+ 'р, ' + ${card.discount} +'% )'"
                                        th:value="${card.id}"
                                        th:selected="(${client.card} == ${card}) ? 'true' : 'false' ">

                                </option>
                            </p>
                            </select>


                            </form>
                            <!-- -->

                            </td>


                            <form th:id="'updateForm' + ${client.id}" method="post">
                                <input type="hidden" name="clientId" th:value="${client.id}"/>

                                <td>
                                    <input autocomplete="off" th:id="'one' + ${client.id}"
                                           th:onblur="'subAjax(\'' + ${client.id} + '\', \'' + ${calculate.id} + '\');'"
                                           class="form-control"
                                           style="width:150px;margin: auto;font-size: 17px"
                                           name="description" th:value="${client.description}" maxlength="30"/>
                                </td>
                                <td style="text-align: center">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p th:text="${client.timeStart.toLocalTime().withSecond(0).withNano(0)}"></p>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="time-edit glyphicon glyphicon-edit" data-toggle="modal"
                                                    th:href="'#timeEditModal' + ${client.id}"
                                                    aria-hidden="true"></button>
                                        </div>

                                    </div>
                                </td>
                                <div th:replace="client/clientFragments/timeEditModal :: timeEditModal"
                                     th:remove="tag"></div>
                                <td style="text-align: center">

                                </td>
                                <td>
                                    <p th:id="'dopDiscount' + ${client.id}" style="float: left;"
                                       th:text="${client.discountWithCard} + '% + '" th:if="${cardEnable}"></p>


                                    <select th:id="'two' + ${client.id}" autocomplete="off"
                                            th:onchange="'subAjax(\'' + ${client.id} + '\', \'' + ${calculate.id} + '\');'"
                                            class="form-control"
                                            name="discountId"
                                            style="width: 90px; margin: auto; font-size: 17px;font-weight:bold">
                                        <option value="-1" th:selected="${client.discount} == null ? 'true' : 'false' ">
                                            Нет
                                        </option>
                                        <p th:each="d : ${listDiscounts}">
                                            <option th:value="${d.id}"
                                                    th:text="${d.discount} + ' % - ' +${d.description}"
                                                    th:selected="(${client.discountObj} == ${d}) ? 'true' : 'false'"></option>
                                        </p>
                                    </select>

                                </td>
                                <td th:if="${cardEnable}">

                                    <input autocomplete="off" th:id="'three' + ${client.id}"
                                           th:onblur="'subAjax(\'' + ${client.id} + '\', \'' + ${calculate.id} + '\');'"
                                           class="form-control"
                                           style="width:85px;margin: auto;font-size: 20px"
                                           name="payWithCard" maxlength="7" th:value="${client.payWithCard}"/>
                                </td>
                                <td th:id="'price' + ${client.id}" style="text-align: center">
                                </td>

                            </form>
                            <td>
                                <input th:form="'formTest' + ${calculate.id}" th:class="'class' + ${calculate.id}"
                                       th:id="'test' + ${client.id}" type="checkbox" class="form-control"
                                       style="width: 20px;height: 20px;margin-top: 5px" th:value="${client.id}"
                                       name="clientsId"/>
                            </td>
                            </tr>
                            </p>
                            </tbody>

                        </table>
                        <button style="float: left;margin-left: 23px" class="btn btn-primary" data-toggle="modal"
                                th:href="'#deleteModal' + ${calculate.id}">
                            Удалить
                        </button>

                        <form action="/manager/pause" th:method="POST">
                            <button th:text="${calculate.isPause()} ? 'Снять с паузы' : 'Пауза'" name="id"
                                    th:value="${calculate.id}" style="float: left;margin-left: 23px"
                                    class="btn btn-primary">
                            </button>

                        </form>
                        <div th:id="'deleteModal' + ${calculate.id}" class="modal fade">
                            <div class="modal-dialog " style="width: 250px;margin-top: 150px" roles="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <p style="font-size: 20px">Вы желаете удалить клиента/тов ?</p>
                                        <button th:form="'formTest' + ${calculate.id}" class="btn btn-danger">Да
                                        </button>
                                        <button class="btn btn-danger" type="button" data-dismiss="modal">Нет</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <button style="float: left;margin-left: 470px;" class="btn btn-primary"
                                data-toggle="modal" th:href="'#menuModal' + ${calculate.id}"> Заказ
                        </button>
                        <div th:replace="client/clientFragments/getCheckFragment :: checkModal"></div>
                        <div th:replace="client/clientFragments/menuFragment :: menuModal"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/managerChangePassword :: managerChangePassword"></div>
</div>
<div th:replace="shift/checklistOnCloseShift :: checklistOnClose"></div>
<script type="text/javascript" th:src="@{/js/clients/clients.js}"></script>
</body>
</html>