<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Настройка смены</title>
    <div th:include="fragments/headTag :: bootstrap"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.12/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}"/>
    <link th:href="@{/css/buttonTransferRight.css}" rel="stylesheet"/>
    <link th:href="@{/css/buttonTransferLeft.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="managernavbar :: managerNavbar"></div><!--/.navbar -->
<div class="container-fluid" style="margin-top:50px">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main">
            <h1 style="color: #5bc0de;" th:align="center" class="page-header">Настройки смены</h1>
            <div class="row placeholders">
            </div>
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li style="color: #5bc0de;"><a th:href="'#1' " data-toggle="tab">

                        <h4 style="color: #5bc0de;">Счета за смену</h4></a></li>
                    <li style="color: #5bc0de;"><a th:href="'#2' " data-toggle="tab">

                        <h4 style="color: #5bc0de;">Клиенты за смену</h4></a></li>
                    <li style="color: #5bc0de;"><a th:href="'#3' " data-toggle="tab">

                        <h4 style="color: #5bc0de;">Добавить сотрудника</h4></a></li>
                    <li style="color: #5bc0de;"><a th:href="'#4' " data-toggle="tab">

                        <h4 style="color: #5bc0de;">Удалить сотрудника</h4></a></li>

                    <li style="color: #5bc0de;"><a th:href="'#5' " data-toggle="tab">

                        <h4 style="color: #5bc0de;">Перевод средств</h4></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" th:id="1">
                        <h1 th:align="center" style="color: #5bc0de;">Счета</h1>
                        <div class="row">
                        </div>
                        <div class="table" style="border-radius:5px;" data-page="bossview.html">
                            <table class="table table-striped table-bordered table-hover">
                                <tr>
                                    <th>Состояние</th>
                                    <th>Описание счета</th>
                                    <th>Стол</th>
                                    <th>Описание клиентов</th>
                                    <th>Чек</th>
                                    <th>Стоимость времени</th>
                                    <th>Стоимость меню</th>
                                </tr>

                                <tbody class="searchable" th:each="calculate:${calculates}">
                                <tr>
                                    <td>
                                        <div th:if="${calculate.state==true}">
                                            <p>Счет <span style="font-weight: bolder" th:text="открыт"></span></p>
                                        </div>
                                        <div th:if="${calculate.state==false}">
                                            <p th:text="Счет +' '+закрыт"></p>
                                        </div>
                                    </td>
                                    <td><p th:text="${calculate.getDescription()}"></p></td>
                                    <td><p th:each="board:${calculate.board}" th:text="${board.getName()}"></p></td>
                                    <td><div th:each="client: ${calculate.client}">
                                        <div th:if="${client.description==''}">
                                            <p th:text="Описание+' '+отсутствует"></p>
                                        </div>
                                        <div th:if="${client.description!=''}">
                                            <p th:text="${client.getDescription()}"></p>
                                        </div>
                                    </div>
                                    </td>
                                    <td><div th:each="client: ${calculate.client}">
                                        <p th:text="${client.allPrice}"></p>
                                    </div>
                                    </td>
                                    <td><div th:each="client: ${calculate.client}">
                                        <p th:text="${client.priceTime}"></p>
                                    </div>
                                    </td>
                                    <td>
                                        <div th:each="client: ${calculate.client}">
                                            <p th:text="${client.priceMenu}"></p>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane " th:id="2">

                        <h1 th:align="center" style="color: #5bc0de;">Клиенты</h1>
                        <div class="row">
                        </div>
                        <div class="table" style="border-radius:5px;" data-page="bossview.html">
                            <table class="table table-striped table-bordered table-hover">
                                <tr>
                                    <th>Описание</th>
                                    <th>Скидка</th>
                                    <th th:if="${cardEnable}">Скидка по карте</th>
                                    <th>Общий чек</th>
                                    <th>Оплата наличными</th>
                                    <th th:if="${cardEnable}">Оплата клубной картой</th>
                                    <th>Время посадки</th>
                                    <th>Проведенное время</th>
                                    <th>Стоимость времени</th>
                                    <th>Стоимость меню</th>
                                </tr>
                                <tbody class="searchable" th:each="client:${clients}">
                                <tr>
                                    <td>
                                        <div th:if="${client.description==''}">
                                            <p th:text="Описание+' '+отсутствует"></p>
                                        </div>
                                        <div th:if="${client.description!=''}">
                                            <p th:text="${client.description}"></p>
                                        </div>
                                    </td>

                                    <td><p th:text="${client.discount}+'%'"></p></td>
                                    <td th:if="${cardEnable}"><p th:text="${client.discountWithCard}+'%'"></p></td>
                                    <td><p th:text="${client.allPrice}"></p></td>
                                    <td><p th:text="${client.cache}"></p></td>
                                    <td th:if="${cardEnable}"><p th:text="${client.payWithCard}"></p></td>
                                    <td><p th:text="${client.timeStart}"></p></td>
                                    <td><p th:text="${client.passedTime}"></p></td>
                                    <td><p th:text="${client.priceTime}"></p></td>
                                    <td><p th:text="${client.priceMenu}"></p></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane " th:id="3">

                        <h1 th:align="center" style="color: #5bc0de;">Сотрудники</h1>
                        <div class="row">
                        </div>
                        <div class="table" style="border-radius:5px;" data-page="bossview.html">

                            <table class="table table-striped table-bordered table-hover">
                                <tr>
                                    <th><p th:align="center">#</p></th>
                                    <th><p th:align="center">Имя</p></th>
                                    <th><p th:align="center">Удаление сотрудника</p></th>
                                </tr>
                                <tbody class="searchable" th:each="user,iter:${usersNotOnShift}">
                                <tr>
                                    <td><p th:align="center" th:text="${iter.count}"></p></td>
                                    <td><p th:align="center" th:text="${user.firstName}"></p></td>
                                    <td>
                                        <form method="post" th:action="@{/manager/shift/addUser}" th:align="center">
                                            <button class="btn btn-primary btn-danger" name="userId"
                                                    th:value="${user.id}">
                                                Добавить
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="tab-pane " th:id="4">

                        <h1 th:align="center" style="color: #5bc0de;">Сотрудники смены</h1>
                        <div class="row">
                        </div>
                        <div class="table" style="border-radius:5px;" data-page="bossview.html">
                            <table class="table table-striped table-bordered table-hover">
                                <tr>
                                    <th><p th:align="center">#</p></th>
                                    <th><p th:align="center">Имя</p></th>
                                    <th><p th:align="center">Удаление сотрудника</p></th>
                                </tr>
                                <tbody class="searchable" th:each="user,iter:${usersOnShift}">
                                <tr>
                                    <td><p th:align="center" th:text="${iter.count}"></p></td>
                                    <td><p th:align="center" th:text="${user.firstName}"></p></td>
                                    <td>
                                        <form method="post" th:action="@{/manager/shift/deleteUser}" th:align="center">
                                            <button th:align="center" class="btn btn-primary btn-danger"
                                                    name="userId"
                                                    th:value="${user.id}">
                                                Удалить
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="tab-pane " th:id="5">

                        <h1 th:align="center" style="color: #5bc0de;">Перевод средств</h1>
                        <div class="row">
                            <div class="messageAd"></div>
                        </div>
                        <div class="table" style="border-radius:5px;" data-page="bossview.html">
                            <div class="col-md-6 col-md-offset-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th><p th:align="center">Доступные средства в кассе</p></th>
                                        <th><p th:align="center">Доступные средства на карте</p></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th><p th:align="center" th:text="${closeShiftView.cashBox}" id="cashBox" name="cashBox"></p></th>
                                    <th><p th:align="center" th:text="${closeShiftView.bankCashBox}" id="bankCashBox" name="bankCashBox"></p></th>
                                </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>
                                            <form id="transferToCard" method="post" action="/manager/shift/edit/transferCashToBankCashBox" th:align="center">
                                                <table class="table table-striped table-bordered table-hover">
                                                    <tr>
                                                        <th>
                                                            <input type="text" class="form-control" value=""
                                                                   placeholder="Введите сумму перевода на карту"
                                                                   autofocus=""
                                                                   id="transferBankCashBox" name="transferBankCashBox"/>
                                                        </th>
                                                    </tr>
                                                </table>
                                                <button type="submit" class="btn btn-buy-l btn-lg" th:align="center"
                                                        name="transferCashToBankCashBoxButton" style="margin-bottom: 10px">
                                                    Перевести
                                                </button>
                                            </form>
                                        </th>
                                        <th>
                                            <form id="transferToCasse" method="post" action="/manager/shift/edit/transferCashToCashBox" th:align="center">
                                                <table class="table table-striped table-bordered table-hover">
                                                    <tr>
                                                        <th>
                                                            <input type="text" class="form-control" value=""
                                                                   placeholder="Введите сумму перевода в кассу"
                                                                   autofocus=""
                                                                   name="transferCashBox" id="transferCashBox"/>
                                                        </th>
                                                    </tr>
                                                </table>
                                                <button type="submit" class="btn btn-buy btn-lg" th:align="center"
                                                        name="transferCashToCashBoxButton">
                                                    Перевести
                                                </button>
                                            </form>
                                        </th>

                                    </tr>
                                </tfoot>
                            </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div th:replace="fragments/managerChangePassword :: managerChangePassword"></div>
<div th:replace="shift/shiftClose :: closeShift"></div>
<script th:src="@{/js/manager/changePassword.js}"></script>
<script th:src="@{/js/shift/close.js}"></script>
<script th:src="@{/js/shift/transfer.js}"></script>

</body>


</html>