<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:include="fragments/headTag :: bootstrap" th:remove="tag"></div>
    <link rel="stylesheet" th:href="@{/css/costs.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/statisticTabs.css}" type="text/css"/>
</head>
<body>
<div th:replace="bossnavbar :: bossNavbar">
</div>
<!--/.navbar -->
<div class="container" style="margin-top:5%">
    <div class="row">
        <h1 th:align="center" style="color: #5bc0de;">Статистика по сменам</h1>
    </div>
    <div class="row">
        <hr/>
        <form roles="form" th:method="post" action="/boss/statistics/search">
            <div class="col-md-3" style="margin-left: 20%">
                <p style="color: #5bc0de; font-size: 150%">
                    Дата начала поиска :
                    <input name="start" th:value="${date}" th:type="date" id="start" class="form-control" placeholder="Введите дату"
                                required=""/>
            </p></div>

            <div class="col-md-3 ">
                <p style="color: #5bc0de; font-size: 150%">Дата окончания :
                    <input name="end" th:type="date" id="end" class="form-control" placeholder="Введите дату" required=""/>
                </p>
            </div>
            <div class="col-md-2 col-md-offset-0">
                <button class="btn btn-default btn-lg" style="margin-top: 25px" name="del" th:type="submit">
                    Искать
                </button>
            </div>
        </form>
    </div>

    <div class="row">
        <hr/>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Номер</th>
                <th>Дата открытия</th>
                <th>Список сотрудников</th>
                <th>Касса</th>
                <th>Общая выручка</th>
                <th>Подробный отчёт</th>
            </tr>
            </thead>
            <tbody class="searchable" th:each="shift,iter:${shifts}">
            <tr>
                <td><p th:text="${shift.id}"></p></td>
                <td><p th:text="${shift.shiftDate}"></p></td>
                <td><p th:text="${shift.getUsersNames()}"></p></td>
                <td><p th:text="${shift.cashBox} + ${shift.bankCashBox}"></p></td>
                <td><p th:text="${shift.profit}"></p></td>
                <td class="col-lg-2"><a class="btn btn-primary btn-info"
                                        th:href="'/boss/statistics/search/shiftDetail/' + ${shift.id}">Подробнее</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<div th:replace="fragments/bossChangePassword :: BossChangePassword"></div>
<div th:replace="media/advertisingDispatch :: advertising"></div>
<script th:src="@{/js/boss/changePassword.js}"></script>
<script th:src="@{/js/mail.js}"></script>
<script th:src="@{/js/filter.js}"></script>

</body>
</html>
