<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:include="fragments/headTag :: bootstrap" th:remove="tag"></div>
    <link rel="stylesheet" th:href="@{/css/costs.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/statisticTabs.css}" type="text/css"/>
</head>
<body>

<div th:replace="bossnavbar :: bossNavbar"></div>

<div class="container" style="margin-top: 5%;">

    <h2 align="center" style="color: #5bc0de">Дата смены: <span th:text="${detailStatisticView.shiftDate}"></span></h2>
</div>
<hr></hr>

<div class="container" style="width: 70%">
    <div class="col-md-2" style="margin-left: 10%">
        <h4 style="color: #5bc0de;">Касса</h4>
        <span style="color: white;font-size: 30px" th:text="${#numbers.formatInteger(detailStatisticView.cashBox,0)}"></span>
        <br></br>
    </div>
    <div class="col-md-2 ">
        <h4 style="color: #5bc0de;">Прибыль грязными</h4>
        <span style="color: white;font-size: 30px" th:text="${#numbers.formatInteger(detailStatisticView.allPrice,0)}"></span>
        <br></br>
    </div>
    <div class="col-md-2 ">
        <h4 style="color: #5bc0de;">Прочие расходы</h4>
        <span style="color: white;font-size: 30px" th:text="${#numbers.formatInteger(detailStatisticView.allOtherCost,0)}"></span>
        <br></br>
    </div>
    <div class="col-md-2 ">
        <h4 style="color: #5bc0de;">Зарплатные расходы</h4>
        <span style="color: white;font-size: 30px" th:text="${#numbers.formatInteger(detailStatisticView.allSalaryCost,0)}"></span>
        <br></br>
    </div>
    <div class="col-md-2 ">
        <h4 style="color: #5bc0de;">Количество клиентов</h4>
        <span style="color: white;font-size: 30px" th:text="${detailStatisticView.clientsNumber}"></span>
        <br/>
    </div>
</div>
<hr/>

<div class="container" style="width: 70%">
    <center>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#billsOnShift" style="margin-bottom: 1%">Счета и клиенты на смене
        </button>
    </center>

    <div id="billsOnShift" class="collapse">
        <div class="table">
            <table class="table table-striped" th:each="calc : ${detailStatisticView.allCalculate}">
                <thead>
                <tr>
                    <th> Описание</th>
                    <th> Описание стола</th>
                    <th> Время посадки</th>
                    <th> Общая стоимость счетов</th>
                    <th> Количество клиентов</th>
                    <th style="width: 90px"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:if="${calc.description}==null" th:text="Описание+' '+ отсутствует"></td>
                    <td th:if="${calc.description}!=null" th:text="${calc.description}"></td>
                    <td th:each="board:${calc.board}" th:text="${board.name}"></td>
                    <td th:text="${#temporals.format(calc.client.get(0).timeStart, 'dd.MM HH:mm')}"></td>
                    <td th:id="commonPrice+${calc.id}"></td>
                    <td th:text="${calc.client.size()}"></td>
                    <td class="tr-wrapper" style="text-align: left">
                        <button th:id="'billsButton' + ${calc.id}" type="button" class="btn btn-info" style="margin-bottom: 1%">
                            Детали
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="tr-wrapper" colspan="6">
                        <div th:id="'billsOnShift' + ${calc.id}" style="display: none">
                            <table class="table table-striped nested-table">
                                <thead>
                                <tr>
                                    <th> Проведенное время</th>
                                    <th> Стоимость времени</th>
                                    <th> Скидка</th>
                                    <th> Скидка по карте</th>
                                    <th> Оплата наличными</th>
                                    <th> Стоимость меню</th>
                                    <th th:if="${cardEnable}"> Оплата по клубной карте</th>
                                </tr>
                                </thead>
                                <tbody th:id="clients+${calc.id}">
                                <tr th:each="client : ${calc.client}">
                                    <td th:text="${client.passedTime}"></td>
                                    <td th:text="${client.priceTime}"></td>
                                    <td th:text="${client.discount}"></td>
                                    <td th:text="${client.discountWithCard}"></td>
                                    <td th:text="${client.cache}"></td>
                                    <td th:text="${client.priceMenu}"></td>
                                    <td th:if="${cardEnable}" th:text="${client.payWithCard}"></td>

                                    <script th:inline="javascript" type="text/javascript">
                                        jQuery(document).ready( function() {
                                            setPrice([[${client.allPrice}]]);
                                        });
                                    </script>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tfoot>
                <script th:inline="javascript" type="text/javascript">
                    jQuery(document).ready( function() {
                        var buttonId = '#billsButton' + [[${calc.id}]];
                        var billsOnShiftId = '#billsOnShift' + [[${calc.id}]];
                        insertTotalPrice('commonPrice'+[[${calc.id}]]);
                        jQuery(buttonId).click(function(){
                                $(billsOnShiftId).slideToggle('fast');
                        });
                    });
                </script>
            </table>
        </div>
    </div>

    <center>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#anotherOutlay" style="margin-bottom: 1%">Прочие расходы
        </button>
    </center>
    <div id="anotherOutlay" class="collapse">
        <div class="table">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th> Дата</th>
                    <th> Название</th>
                    <th> Цена</th>
                    <th> Количество</th>
                    <th> Сумма</th>
                </tr>
                </thead>
                <tbody th:each="listOfOtherCosts : ${detailStatisticView.otherCost}">
                <tr>
                    <td th:text="${listOfOtherCosts.date}"></td>
                    <td th:text="${listOfOtherCosts.name}"></td>
                    <td th:text="${listOfOtherCosts.price}"></td>
                    <td th:text="${listOfOtherCosts.quantity}"></td>
                    <td th:text="${listOfOtherCosts.price * listOfOtherCosts.quantity} % 1 == 0
                 ? ${#numbers.formatDecimal((listOfOtherCosts.price * listOfOtherCosts.quantity), 0, 0)}
                 : ${#numbers.formatDecimal((listOfOtherCosts.price * listOfOtherCosts.quantity), 0, 2)}">
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <center>
        <button th:if="${detailStatisticView.debts != 0 || detailStatisticView.receiptsSum != 0}"
                type="button" class="btn btn-info" data-toggle="collapse" data-target="#debts" style="margin-bottom: 1%">
            Долги и приходы
        </button>
    </center>
    <div id="debts" class="collapse" th:if="${detailStatisticView.debts != 0 || detailStatisticView.receiptsSum != 0}">
        <div class="table">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th> Уплаченная сумма</th>
                    <th> Сумма долга</th>
                    <th> Приходы за смену</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${#numbers.formatInteger(detailStatisticView.amountCredited,0)}"></td>
                    <td th:text="${#numbers.formatInteger(detailStatisticView.debts,0)}"></td>
                    <td th:text="${#numbers.formatInteger(detailStatisticView.receiptsSum,0)}"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <center>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#employeeOnShift" style="margin-bottom: 1%">Сотрудники на
            смене
        </button>
    </center>
    <div id="employeeOnShift" class="collapse">
        <div class="table">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th> Имя</th>
                    <th> Фамилия</th>
                    <th> Должности</th>
                    <th> Email</th>
                    <th> Номер телефона</th>
                    <th> Оклад</th>
                    <th> Зарплата</th>
                    <th> Бонус</th>
                </tr>
                </thead>
                <tbody th:each="user : ${detailStatisticView.usersOnShift}">
                <tr>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.positions}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.phone}"></td>
                    <td th:text="${user.shiftSalary}"></td>
                    <td th:text="${user.salary}"></td>
                    <td th:text="${user.bonus}"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script th:src="@{/js/shiftDetail.js}"></script>
</body>
</html>
