<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="modal fade" tabindex="-1" role="dialog" id="modalEditGoods" th:fragment="modalEdit">
    <form class="form-horizontal" id="formEditGoods" method="post" th:action="@{/manager/costs/edit}" th:object="${formGoods}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Редактирование товара</h4>
                </div>
                <div class="modal-body">
                    <div class="messageAd"></div>
                    <div class="form-group">
                        <label for="editId" class="col-md-offset-1 control-label col-sm-2">ID</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="editId" readonly="readonly" th:name="id"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editName" class="col-md-offset-1 col-sm-2 control-label">Название</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" aria-label="Название" placeholder="Название товара"
                                   required="required" th:name="name" id="editName"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editCategory" class="col-md-offset-1 col-sm-2 control-label">Категория</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" aria-label="Категория"
                                   placeholder="Категория товара" required="required" id="editCategory"
                                   th:name="category.name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editPrice" class="col-md-offset-1 col-sm-2 control-label">Цена</label>
                        <div class="col-md-6">
                            <input type="number" step="0.01" class="form-control" id="editPrice" placeholder="Цена"
                                   required="required" th:name="price"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editQuantity" class="col-md-offset-1 col-sm-2 control-label">Количество</label>
                        <div class="col-md-6">
                            <input type="number" step="0.01" class="form-control" id="editQuantity"
                                   placeholder="Количество" required="required" th:name="quantity"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editDate" class="col-md-offset-1 col-sm-2 control-label">Дата</label>
                        <div class="col-md-6">
                            <input type="date" class="form-control" id="editDate" placeholder="Дата" required="required"
                                   th:name="date"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </form>
</div><!-- /.modal -->
</body>
</html>