<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="modal fade" tabindex="-1" roles="dialog" id="modalSubmitDeleteAll" th:fragment="modalDeleteAll">
    <div class="modal-dialog modal-sm" roles="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Вы действительно хотите удалить все товары на странице?</h4>
            </div>
            <div class="modal-body" align="center">
                <div class="messageDelAll"></div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
                <button type="button" class="btn btn-primary" id="deleteAllGoods">Да</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>
</html>