<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="panel panel-default" th:fragment="panel">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-1">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAddGoods">
                    Добавить
                </button>
            </div>
            <div class="row col-md-11">
                <form id="formSearch" method="post" th:action="@{/manager/costs}">
                    <div class="col-md-3 col-md-offset-1">
                        <input type="text" class="form-control" aria-label="Название" placeholder="Все товары"
                               th:value="${goodsName} ? ${goodsName} : '' " th:name="goodsName" id="searchGoods"/>
                    </div>
                    <div class="dropdown col-md-3">
                        <button class="btn btn-default dropdown-toggle" type="button" id="searchCategoryDropdownMenu"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <th:block th:text="${categoryName} ? ${categoryName} : 'Все категории' ">Все категории</th:block>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="searchCategoryDropdownMenu" id="seatchCategoryDropList">
                            <li><a>Все категории</a></li>
                            <li th:each="category : ${goodsCategories}"><a th:text="${category.name}">Action</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3" hidden="hidden" >
                        <input type="text" class="form-control" aria-label="Название"  th:value="${categoryName} ? ${categoryName} : 'Все категории'" th:name="categoryName" id="searchCategory"/>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group date" id="datePickerFrom">
                                        <input type='text' class="form-control" id="fromDate" placeholder="С начала"
                                               th:value="${fromDate} ? ${#temporals.format(fromDate, 'dd-MM-yyyy')} : '' "
                                               name="fromDate"/>
                                        <span class="input-group-addon add-on">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group date" id="datePickerTo">
                                        <input type='text' class="form-control" id="toDate" placeholder="До конца"
                                               th:value="${toDate} ? ${#temporals.format(toDate, 'dd-MM-yyyy')} : ''"
                                               name="toDate"/>
                                        <span class="input-group-addon add-on">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-primary">Найти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="costs/fragments/table :: goodsTable" th:remove="tag"></div>
</div>

</body>
</html>