<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/headTag :: bootstrap" th:remove="tag"></div>
    <link rel="stylesheet" th:href="@{/css/createPassword.css}"/>
    <div th:replace="bossnavbar :: bossNavbar"></div>
    <div th:replace="settingPages/navSetting :: navSetting"></div>
    <div th:replace="media/advertisingDispatch :: advertising"></div>
    <script th:src="@{/js/mail.js}"></script>
</head>
<body>

<div class="container" style="padding: 50px">
    <h1 th:align="center" style="color: #5bc0de;">Смена пароля</h1>
    <div class="form-group" style="margin-top: 85px">
        <div class="form-group"
             style="border-radius: 5px; background-color: white; width: 450px;margin: auto;box-shadow: 0 0 2px 1px;    ">
            <label class="col-md-offset-4" style="font-size: large">Старый пароль</label>
            <div class="input-group"><span class="input-group-addon"><span
                    class="glyphicon glyphicon-exclamation-sign"></span></span>
                <input type="password" class="form-control" name="oldPassword" id="old"
                       th:required="required"/>
            </div>

            <label class="col-md-offset-4" style="font-size: large">Новый пароль</label>
            <div class="input-group"><span class="input-group-addon"><span
                    class="glyphicon glyphicon-lock"></span></span>
                <input type="password" class="form-control" name="newPassword" id="new"
                       th:required="required" data-toggle="popover" title="Сложность пароля"
                       data-content="Введите пароль..."/>
            </div>

            <label class="col-md-offset-4" style="font-size: large">Подтверждение</label>
            <div class="input-group"><span class="input-group-addon"><span
                    class="glyphicon glyphicon-resize-vertical"></span></span>
                <input type="password" class="form-control" name="secondNewPassword"
                       id="secondNew" th:required="required"/>
            </div>
            <br/>
        </div>
    </div>
    <div align="center">
        <input type="submit" name="submit" id="submit" value="Сохранить" onclick="changeBossPassword()"
               class="tn btn-lg btn-primary"/>
    </div>
</div>
<!--Модали для смены пароля-->

<div class="modal fade bs-example-modal-sm" id="successModal" tabindex="-1" roles="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Success</h3>
                </div>
                <div class="panel-body">
                    Смена пароля прошла успешно.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="errorModal" tabindex="-1" roles="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Error</h3>
                </div>
                <div class="panel-body">
                    Действующий пароль введён неверно.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="wrongModal" tabindex="-1" roles="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Warning</h3>
                </div>
                <div class="panel-body">
                    Новые пароли не совпадают.
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/boss/changePassword.js}"></script>
</body>
</html>