<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/headTag :: bootstrap" th:remove="tag"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navSetting.css}"/>
</head>
<body>

<div th:replace="bossnavbar :: bossNavbar"></div>
<div th:replace="settingPages/navSetting :: navSetting"></div>
<div th:replace="media/advertisingDispatch :: advertising"></div>
<div class="container" style="padding-top: 50px;width: 950px">
    <h1 th:align="center" style="color: #5bc0de;">Управление скидками</h1>
    <div align="center" style="margin-top: 20px;margin-bottom: 20px">
        <button type="button" class="btn btn-lg btn-primary"
                data-toggle="modal" data-target="#newDiscount">Создать новую скидку
        </button>
    </div>
    <table data-page-length='25' class="table" style="background: white;border-radius: 5px;box-shadow: 0 0 2px 1px;">
        <thead>
        <tr>
            <th><p align="center">Описание</p></th>
            <th><p align="center">Скидка</p></th>
            <th><p align="center">Удалить</p></th>
        </tr>
        </thead>
        <tbody class="searchable" th:each="discount : ${discounts}">

        <tr th:id="'discountTR' + ${discount.id}" style="font-size: 20px">
            <td><p th:align="center" th:text="${discount.description}"></p></td>
            <td><p th:align="center" th:text="${discount.discount}"></p></td>
            <td class="col-lg-2">
                <center>
                    <form method="post" action="/boss/settings/discount-setting/delete">
                        <input type="hidden" name="id" th:value="${discount.id}"/>
                        <button type="submit"
                                class="btn btn-primary btn-danger" name="del">Удалить
                        </button>
                    </form>
                </center>
            </td>
        </tr>

        </tbody>
        <form roles="form" method="post" style="margin: 10px auto; width: 50%; padding-bottom:40px;"
              action="/boss/settings/discount-setting/new">
            <div th:object="${discount}" align="center" class="modal fade" th:id="'newDiscount'"
                 tabindex="-1"
                 roles="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" roles="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Новый стол</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">

                                <h4><label>Название</label></h4>
                                <input type="text" class="form-control"
                                       name="description"
                                       required=""/>
                                <h4><label>Скидка</label></h4>
                                <input style="width:150px;" type="text" class="form-control"
                                       name="discount"
                                       required=""/>
                            </div>

                        </div>
                        <button id="superr" type="submit" name="upd"
                                class="btn btn-lg btn-primary btn-block">Создать
                        </button>

                        <div class="modal-footer">
                            <button id="close" type="button" name="upd" class="btn btn-default"
                                    data-dismiss="modal">
                                Отмена
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </table>
</div>

<script th:src="@{/js/mail.js}"></script>
<script type="text/javascript" th:src="@{/js/setting/page/nav-setting.js}"></script>
</body>
</html>