<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/headTag :: bootstrap" th:remove="tag"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navSetting.css}"/>
</head>
<body>
<div th:replace="bossnavbar :: bossNavbar"></div>
<div th:replace="settingPages/navSetting :: navSetting"></div>
<div th:replace="media/advertisingDispatch :: advertising"></div>
<div class="container" style="padding-top: 50px">
    <div class="col-md-8 col-md-offset-2">
    <h1 th:align="center" style="color: #5bc0de;margin-bottom: 85px;">Прочие настройки</h1>
        <table class="table" style="background: white;border-radius: 5px;box-shadow: 0 0 2px 1px;">
            <thead>
            <div class="errorMessage"></div>
            <tr>
                <!--<th style="text-align:  center;">№</th>-->
                <th style="text-align:  center;">Название</th>
                <th style="text-align:  center;">Значение</th>
                <th style="text-align:  center;">Статус активации</th>
                <th style="text-align:  center;">Обновить</th>
            </tr>
            </thead>
            <tbody class="searchable">
            <tr style="font-size: 20px">
                <td th:align="center">Статус карт</td>
                <td th:align="center" th:text="${cardEnable} ? 'Работают' : 'Отключены'">Выключены</td>
                <td th:align="center">
                    <input id="inputCardEnable" type="checkbox" value="true" name="cardEnable"
                           th:attrappend="checked=${cardEnable} ? checked "/>
                </td>
                <td th:align="center" >
                    <button id="buttonCardEnable" type="button" class="btn btn-success center-block">Обновить</button>
                </td>
            </tr>
            <th:block  th:each="property: ${properties}">
                <tr style="font-size: 20px">
                    <form th:id="'formProperty'+${property.id}">
                        <input type="hidden" th:value="${property.id}" name="id"/>
                        <input type="hidden" th:value="${property.unit}" name="unit"/>
                        <input type="hidden" th:value="${property.name}" name="name"/>
                        <td th:align="center" th:text="${property.name}"></td>


                        <td th:align="center">
                            <input style="width: 100px" type="number" required="" class="form-control form2" name="value"
                                   th:value="${property.value}" title="только цифры" min="0"/>
                        </td>
                        <td>
                            <div th:align="center" th:if="${property.enable} != null">
                                <input type="checkbox" data-toggle="toggle" data-on="Вкл" data-off="Выкл"
                                       th:attrappend="checked=${property.enable} ? checked " th:value="true"
                                       name="enable"/>
                                <input type='hidden' value='false' name='enable'/>
                            </div>
                            <div th:align="center" th:text="${property.enable == null} ? '-------'" th:unless="${property.enable} != null">
                                <input type="hidden" th:value="null"/>
                            </div>
                        </td>
                        <td th:align="center" >
                            <button type="button" th:attr="data-id=${property.id}" class="btn btn-success center-block buttonPropertyRefresh">Обновить</button>
                        </td>
                    </form>
                </tr>
            </th:block>

            </tbody>
        </table>
    </div>
</div>

<script th:src="@{/js/mail.js}"></script>
<script type="text/javascript" th:src="@{/js/setting/page/nav-setting.js}"></script>
<script type="text/javascript" th:src="@{/js/setting/page/general.js}"></script>
</body>
</html>
