<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/headTag :: bootstrap" th:remove="tag"></div>
    <div th:replace="bossnavbar :: bossNavbar"></div>
    <div th:replace="settingPages/navSetting :: navSetting"></div>
    <div th:replace="media/advertisingDispatch :: advertising"></div>
    <script th:src="@{/js/mail.js}"></script>
</head>
<body>

<div class="container" style="padding-top:50px;">
    <h1 th:align="center" style="color: #5bc0de;margin-bottom: 85px;">Уровни логгирования</h1>
    <center>
            <form  id = "formLog" action="/boss/settings/logger-setting/logLevel" method="post" style="background: white;border-radius: 5px;width: 400px;box-shadow: 0 0 2px 1px;">
                    <h4 th:align="center">Текущий уровень логирования</h4>

                    <div th:align="center" th:text="${logLevel}"
                         style="font-size: larger; color: blueviolet"></div>

                    <div class="form-group">
                        <h4 th:align="center">Выберите уровень логирования</h4>

                        <div class="col-md-4 col-md-offset-4">
                            <select class="form-control" id="chooseLogLevel" name="level">
                                <option value="ERROR">ERROR</option>
                                <option value="INFO">INFO</option>
                                <option value="DEBUG">DEBUG</option>
                                <option value="WARN">WARN</option>
                            </select>
                        </div>
                    </div>
                <br/><br/>

            </form>
        <button style="margin-top: 30px" onclick="sendLogLevel()"
                class="tn btn-lg btn-primary">Сохранить</button>
    </center>

        </div>
<script>
    function sendLogLevel() {
        var check = $('#chooseLogLevel').val();
        if (check == 'INFO' || check == 'ERROR' || check == 'DEBUG' || check == 'WARN') {
            $('#formLog').submit();
        }
    }
</script>
</body>
</html>