<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-left" th:fragment="navSetting"
     style="margin-top:48px;margin-bottom:0;float: left;height: 926px">
    <div class="sidebar">
        <div style="color: white; margin-left: 8px">
            <h6 id="state">Загрузка....</h6>
            <h6 id="date">Загрузка....</h6>
            <h6 id="time">Загрузка....</h6>
        </div>
        <ul class="nav navsvoi " style="font-size: 15px;">
            <li><a href="/boss/settings/general-setting">Базовые настройки</a></li>
            <li><a href="/boss/settings/board-setting">Управление столами</a></li>
            <li><a href="/boss/settings/discount-setting">Управление скидками</a></li>
            <li><a href="/boss/settings/change-password">Смена пароля</a></li>
            <li><a href="/boss/settings/logger-setting">Логгирование</a></li>
            <li><a href="/boss/settings/advert-setting">Настройка SMTP</a></li>
            <li><a href="/boss/settings/masterKey">Настройка мастер ключа</a></li>
            <li><a href="/boss/settings/vk-properties-setting">Настройки VК</a></li>
        </ul>
    </div>
</div>
</body>
</html>