<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/headTag :: bootstrap" th:remove="tag"></div>
    <div th:replace="bossnavbar :: bossNavbar"></div>
    <div th:replace="settingPages/navSetting :: navSetting"></div>
    <div th:replace="media/advertisingDispatch :: advertising"></div>
    <script th:src="@{/js/mail.js}"></script>
</head>
<body>

<div class="container" style="padding-top:50px;">
    <div class="modal fade bs-example-modal-sm" id="successModal" tabindex="-1" roles="dialog"
         aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Success</h3>
                    </div>
                    <div class="panel-body">
                        Настройки успешно применены и записаны!
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm" id="errorModal" tabindex="-1" roles="dialog"
         aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Error</h3>
                    </div>
                    <div class="panel-body">
                        Данный email уже существует в базе.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="smtpDBSettings" tabindex="-1" roles="dialog"
         aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modalSMTPHeader">Таблица сохранённых настроек</h4>
                </div>
                <div class="modal-body">
                    <div class="messageAd"></div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Название настроек</th>
                            <th>email</th>
                            <th>Применение настроек</th>
                            <th>Удаление настроек</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="list : ${listSMTPSettings}">
                            <td th:text="${list.id}"></td>
                            <td th:text="${list.nameSettings}"></td>
                            <td th:text="${list.email}"></td>
                            <td>
                                <button type="button" class="btn btn-success"
                                        th:onclick="'javascript:applySMTPSettings(\'' + ${list.id} + '\');'">Применить
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger"
                                        th:onclick="'javascript:removeSettings(\'' + ${list.id} + '\');'">Удалить
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <h1 th:align="center" style="color: #5bc0de;margin-bottom: 85px;">Настройка почты для рассылки</h1>

    <div class="col-md-5 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Текущие настройки</h4>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Текущий провайдер рассылки</td>
                        <td th:switch="${advertSettings.host}">
                            <p th:case="smtp.gmail.com" style="margin: 0">GMAIL</p>
                            <p th:case="smtp.mail.ru" style="margin: 0">MAIL</p>
                            <p th:case="smtp.yandex.ru" style="margin: 0">YANDEX</p>
                        </td>

                    </tr>
                    <tr>
                        <td>EMAIL</td>
                        <td th:text="${advertSettings.username}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Задайте новые настройки</h4>

            </div>

            <div class="panel-body">
                <center>
                    <form roles="form">
                        <div class="form-group" style="margin: 0%">
                            <h4>Название настроек</h4>
                            <input type="text" class="form-control" id="settingsName" name="settingsName"
                                   placeholder="Название настроек"/>
                        </div>
                        <div>
                            <h4>Выберете провайдера</h4>
                            <select class="form-control">
                                <option th:value="smtp.gmail.com">GMAIL</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin: 0%">
                            <h4>Email</h4>
                            <input type="email" class="form-control" id="settingsEmail" name="email"
                                   placeholder="Email"/>
                        </div>
                        <div class="form-group">
                            <h4>Пароль</h4>
                            <input class="form-control" type="password" id="settingsPassword" name="password"
                                   placeholder="Ваш пароль"/>
                        </div>
                        <button id="saveSomeShit" type="submit" name="upd"
                                class="btn btn-lg btn-primary" onclick="newSMTPSettings()">Создать
                        </button>
                    </form>
                </center>

            </div>
        </div>
        <button type="button" class="btn btn-success col-md-offset-3"
                data-toggle="modal" data-target="#smtpDBSettings">Или выберите из существующих
        </button>
    </div>
</div>
<script src="/js/boss/menu.js"></script>
</body>
</html>