<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/headTag :: bootstrap" th:remove="tag"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navSetting.css}"/>
</head>
<body>
<div th:replace="bossnavbar :: bossNavbar"></div>
<div th:replace="settingPages/navSetting :: navSetting"></div>
<div th:replace="media/advertisingDispatch :: advertising"></div>

<div class="container" style="padding-top: 50px;">
    <h1 th:align="center" style="color: #5bc0de;margin-bottom: 40px;">Настройки VK</h1>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3" style="background-color: white;padding: 10px;margin-left: 75px;">
            <form roles="form" th:object="${vkProperties}" method="post"
                  action="#" th:action="@{/boss/settings/vk-properties-setting/edit}">

                <div class="form-group">
                    <label>Access token</label>
                    <div class="col-md-11" style="margin: 0px;padding: 0px;">
                        <input
                                type="password"
                                name="accessToken"
                                id="accessToken"
                                th:value="${vkProperties.accessToken}"
                                class="form-control"/>
                    </div>
                    <div>
                        <span onclick="toggleAccessToken()" class="glyphicon glyphicon-eye-open" style="cursor:pointer;margin-top: 7px;margin-left: 4px;"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Application ID</label>
                    <input th:field="*{applicationId}" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Message name</label>
                    <input th:field="*{messageName}" type="text" class="form-control"/>
                </div>

                <div class="form-group">
                    <label>Chat ID</label>
                    <input th:field="*{chatId}"  type="text" class="form-control" />
                </div>

                <div class="form-group">
                    <label>API Version</label>
                    <input th:field="*{apiVersion}" type="text" class="form-control" />
                </div>

                <button type="submit" class="btn btn-success center-block">Сохранить</button>

            </form>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/setting/page/nav-setting.js}"></script>
</body>
</html>


