<head th:fragment="bootstrap">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/st.css}" type="text/css"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}" type="text/javascript"></script>

</head>
