<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="modalBodyAddUser" th:remove="tag">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Форма Добавления Нового Сотрудника</h4>
            </div>
            <div class="modal-body">
                <div class="errorMessage"></div>
                <form class="form-horizontal formAddUser">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Имя</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="firstName" placeholder="Имя" required="required"
                                   pattern=".{1,}" title="Поле Имя не должно быть пустым"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Фамилия</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="lastName" placeholder="Фамилия"
                                   required="required" pattern=".{1,}" title="Поле Фамилия не должно быть пустым"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Email</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="email"  placeholder="Email"
                                   pattern="^([a-zA-Z0-9_\.\-])+@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$"
                                   title="Не верный формат e-mail, пример mail@mail.ru" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Телефон</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="phone" pattern="^(8){1}[\d]+$"
                                   title="Неверный формат номера телефона" required="required" placeholder="Примеры телефона: 8xxxxxxxxxx"/>
                    </div>
                    </div>
                    <div class="form-group">
                    <label class="control-label col-sm-2">Оклад</label>
                        <div class="col-md-6">
                            <input type="number" class="form-control" name="shiftSalary" required="required"
                                   placeholder="Оклад"/>
                    </div>
                    </div>
                    <div class="form-group" id="addUserFirstPasswordAllForm">
                        <label class="control-label col-sm-2">Пароль</label>
                        <div class="col-md-6">
                            <input type="password" class="form-control addUserFirstPassword" required="required"
                                   placeholder="Пароль для доступа в систему" name="password"/>
                        </div>
                    </div>
                    <div class="form-group" id="addUserSecondPasswordAllForm">
                        <label class="control-label col-sm-2">Повтор</label>
                        <div class="col-md-6">
                            <input type="password" class="form-control addUserSecondPassword"
                                   placeholder="Подтвердите пароль" required="required"/>
                        </div>
                    </div>
                    <div class="col-md-offset-1" align="left">
                        <label>
                            <input type="checkbox" value="true" name="isDefaultPassword" id="isDefaultPassword">
                            Использовать пароль по умолчанию</input>
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3 align="center">Должность</h3>
                            <div class="checkbox addUser-PositionCheckbox" th:each="position : ${allPositions}"
                                 style="margin-left: 25%">
                                <input type="checkbox" th:value="${position.id}"/>
                                <div th:text="${position.name}" class="checkbox-text"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 align="center">Роль</h3>
                            <div class="checkbox addUser-RoleCheckbox" th:each="role : ${allRoles}"
                                 style="margin-left: 25%">
                                <input type="checkbox" th:value="${role.id}"/>
                                <div th:text="${role.name}" class="checkbox-text"></div>
                            </div>
                        </div>
                    </div>


                    <br/>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" id="submitAddUser">Добавить
                        Сотрудника В Базу
                        Данных
                    </button>

                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>