<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <div th:include="fragments/headTag :: bootstrap" th:remove="tag"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.10.12/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/payment-history.css}" type="text/css"/>
</head>
<body>
<div th:replace="bossnavbar :: bossNavbar"></div>
<div class="container" style="margin-top: 50px">
    <h1 class="table-name" align="center">История карты</h1>
    <div th:replace="card/statistic/fragments/cardStatisticPanel :: panel"></div>
</div>
<div th:replace="media/advertisingDispatch :: advertising"></div>
<script th:src="@{/webjars/datatables/1.10.12/js/jquery.dataTables.min.js}" type="text/javascript"></script>
<script th:src="@{/js/card/payment-history.js}"></script>
<script th:src="@{/js/mail.js}"></script>
</body>
</html>