.time-edit {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-left: -20px;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}