body {
    width: 100%;
    height:100%;
    background: #3a6186;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
td.custom,th.custom,h1.custom,a.custom{
    color: white;
}

td.custom{
    font-size: 20px;
}
h3{
    color: crimson;
}
a:hover{
    color: crimson;
}
.custom{

}