<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/jquery-3.2.0.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/st.css}" type="text/css"/>

</head>
<body>
<div style="margin-top: 55px" th:fragment="BossTab" class="tab-pane active" th:id="allProd">
    <h1 th:align="center" style="color: #5bc0de;">Меню</h1>

    <div class="table" style="border-radius:5px;" data-page="bossview.html">
        <table th:id="allTable" class="table table-striped">
            <tr>
                <th>#</th>
                <th>Наименование</th>
                <th>Описание</th>
                <th>Цена</th>
                <th>Редактировать</th>
                <th>Рецепт</th>
                <th>Удалить</th>
            </tr>
            <tbody class="searchable" th:each="prod,iter:${products}">
            <tr th:id="'allTR' + ${prod.id}">
                <td th:id="'allA' + ${prod.id}"><p th:text="${iter.count}"></p></td>
                <td th:id="'allB' + ${prod.id}"><p th:text="${prod.name}"></p></td>
                <td th:id="'allC' + ${prod.id}"><p th:text="${prod.description}"></p></td>
                <td th:id="'allD' + ${prod.id}"><p
                        th:text="${!prod.category.floatingPrice} ? ${prod.cost} : 'Плавающая'"></p></td>
                <td class="col-lg-2"><a id="ins" class="btn btn-primary btn-info"
                                        th:href="'#allP'+${prod.id}"
                                        data-toggle="modal">Редактировать </a>
                </td>
                <td>
                    <button form="getRecipePage" name="id" class="btn btn-primary btn-info" th:value="${prod.id}"
                            th:type="submit">
                        Изменить рецепт
                    </button>
                </td>
                <td>
                    <button th:onclick="'del(\''+ ${prod.id} + '\');'"
                            class="btn btn-primary btn-danger" name="del">
                        Удалить
                    </button>
                </td>
                <form role="form" method="post" action="/boss/menu/upd"
                      style="margin: 10px auto; width: 50%; paddng-bottom:40px;">
                    <div th:object="${product}" align="center" class="modal fade" th:id="'allP'+${prod.id}"
                         tabindex="-1"
                         role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Редактирование </h4>
                                </div>
                                <div class="modal-body">
                                    <div th:class="'messageEditAll' + ${prod.id}"></div>
                                    <div class="form-group">
                                        <input required="" type="hidden" class="form-control"
                                               th:id="allId + ${prod.id}"
                                               th:value="${prod.id}"/>
                                        <label>Название</label>
                                        <input type="text" class="form-control"
                                               th:id="allName + ${prod.id}" name="name"
                                               th:value="${prod.name}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Описание</label>
                                        <input type="text" class="form-control"
                                               th:id="allDes + ${prod.id}"
                                               name="description"
                                               th:value="${prod.description}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Цена</label>
                                        <input type="text" class="form-control"
                                               th:id="allCost + ${prod.id}" name="cost" required=""
                                               pattern="\d+" title="только цифры"
                                               th:attrappend="disabled=${prod.category.floatingPrice} ? disabled, value=${prod.category.floatingPrice} ? 0.0 : ${prod.cost}"/>
                                    </div>
                                </div>
                                <button id="saveEditProductDataAll" type="button" name="upd"
                                        class="btn btn-lg btn-primary btn-block" th:attr="data-id=${prod.id}">Сохранить
                                </button>

                                <div class="modal-footer">
                                    <button id="clsoe" type="button" name="upd" class="btn btn-default"
                                            data-dismiss="modal">
                                        Отмена
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>