<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/headTag :: bootstrap" th:remove="tag"></div>
</head>
<body>

<header>
    <div th:replace="bossnavbar :: bossNavbar"></div><!--/.navbar -->
    <div class="container" style="margin-top:50px">

        <form id="getRecipePage" th:action="@{/boss/menu/get/recipe/} " th:method="GET">
            <!-- submit button of this form in each , ~ 80 line -->
        </form>

        <div>
            <h1 th:align="center" style="color: #5bc0de;">Поиск</h1>
            <input id="filter" style="margin-bottom: 10px" type="text" class="form-control"
                   placeholder="Поиск по полям"/>
        </div>
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
                <li><a th:href="'#allProd' " data-toggle="tab">

                    <h4 style="color: #5bc0de;"
                        text="Все продукты">Все продукты</h4></a></li>
                <li style="color: #5bc0de;" th:each="cat : ${categories}"><a th:href="'#' +${cat.id}" data-toggle="tab">
                    <h4 style="color: #5bc0de;"
                        th:text="${cat.name}"></h4></a></li>
            </ul>
            <div display="inline-block" style="float:left">
                <button type="button" class="btn  btn-primary" data-dismiss="modal" display="inline-block"
                        th:href="'#addCat'" data-toggle="modal">
                    Создать новую категорию
                </button>
            </div>

            <div class="tab-content">
                <div th:replace="menu/fragments/tabFragmentForBossMenu :: BossTab "></div>
                <div class="tab-pane " th:id="${categor.id}" th:each="categor:${categories}">

                    <div class="btn-group">
                        <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
                            Подробнее
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- dropdown menu links -->
                            <li><a th:href="'#editCat'+${categor.id}" data-toggle="modal">Редлактировать категорию</a>
                            </li>
                            <li><a th:href="'#add'+${categor.id}" data-toggle="modal">Добавить продукт</a></li>
                            <li><a th:href="'#delCat'+${categor.id}" data-toggle="modal">Удалить категорию</a></li>
                        </ul>
                    </div>
                    <h1 th:align="center" style="color: #5bc0de;">Меню</h1>
                    <div class="row">
                    </div>
                    <div class="table" style="border-radius:5px;" data-page="bossview.html">
                        <table th:id="qwe+${categor.id}" class="table table-striped">
                            <tr>
                                <th>#</th>
                                <th>Наименование</th>
                                <th>Описание</th>
                                <th>Цена</th>
                                <th>Редактировать</th>
                                <th>Рецепт</th>
                                <th>Удалить</th>
                            </tr>
                            <tbody class="searchable" th:each="prod,iter:${categor.getProducts()}">
                            <tr th:id="'tr' + ${prod.id}">
                                <td th:id="'a' + ${prod.id}"><p th:text="${iter.count}"></p></td>
                                <td th:id="'b' + ${prod.id}"><p th:text="${prod.name}"></p></td>
                                <td th:id="'c' + ${prod.id}"><p th:text="${prod.description}"></p></td>
                                <td th:id="'d' + ${prod.id}"><p
                                        th:text="${!prod.category.floatingPrice} ? ${prod.cost} : 'Плавающая'"></p></td>
                                <td class="col-lg-2"><a id="ins" class="btn btn-primary btn-info"
                                                        th:href="'#p'+${prod.id}"
                                                        data-toggle="modal">Редактировать </a></td>
                                <td>

                                    <button form="getRecipePage" name="id" class="btn btn-primary btn-info"
                                            th:value="${prod.id}" th:type="submit">
                                        Изменить рецепт
                                    </button>

                                </td>
                                <td>

                                    <button th:onclick="'del(\''+ ${prod.id} + '\');'"
                                            class="btn btn-primary btn-danger" name="del">
                                        Удалить
                                    </button>

                                </td>
                                <div align="center" class="modal fade" th:id="'p'+${prod.id}"
                                     tabindex="-1"
                                     role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span
                                                        aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Редактирование </h4>
                                            </div>
                                            <div class="modal-body">
                                                <div th:class="'messageEdit' + ${prod.id}"></div>
                                                <div class="form-group">

                                                    <input required="" type="hidden" class="form-control"
                                                           th:id="updId + ${prod.id}"
                                                           th:value="${prod.id}"/>
                                                    <label>Название</label>
                                                    <input type="text" class="form-control"
                                                           th:id="updName + ${prod.id}" name="name"
                                                           th:value="${prod.name}"/>
                                                </div>
                                                <div class="form-group">
                                                    <label>Описание</label>
                                                    <input type="text" class="form-control"
                                                           th:id="updDes + ${prod.id}"
                                                           name="description"
                                                           th:value="${prod.description}"/>
                                                </div>
                                                <div class="form-group">
                                                    <label>Цена</label>
                                                    <input type="number" step="0.01" class="form-control"
                                                           th:id="updCost + ${prod.id}" name="cost" required=""
                                                           title="только цифры"
                                                           th:attrappend="disabled=${prod.category.floatingPrice} ? disabled, value=${prod.category.floatingPrice} ? 0.0 : ${prod.cost}"/>
                                                </div>

                                            </div>
                                            <button id="saveEditProductData" type="button" name="upd"
                                                    th:attr="data-id=${prod.id}"
                                                    class="btn btn-lg btn-primary btn-block">Сохранить
                                            </button>

                                            <div class="modal-footer">
                                                <button type="button" name="upd" class="btn btn-default"
                                                        data-dismiss="modal">
                                                    Отмена
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <form role="form" method="post" action="/boss/menu/updCategory"
                          style="margin: 10px auto; width: 50%">
                        <div align="center" class="modal fade" th:id="'editCat'+${categor.id}" tabindex="-1"
                             role="dialog"
                             aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel2">Редактирование категории</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Название</label>
                                            <input required="" type="text" class="form-control" id="loginCat"
                                                   name="name"
                                                   th:value="${categor.name}" autocomplete="off"/>
                                        </div>
                                        <div class="checkbox" align="left">
                                            <label>
                                                <input type="checkbox" value="false" name="dirtyProfit"
                                                       th:attrappend="checked=${!categor.dirtyProfit} ? checked ">
                                                Не добавлять в прибыль грязными</input>
                                            </label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-primary btn-block" name="upd"
                                            th:value="${categor.id}">
                                        Сохранить
                                    </button>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">Закрыть
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div align="center" class="modal fade" th:id="'add'+${categor.id}" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel4">Добавить продукт</h4>
                                </div>
                                <div class="modal-body">
                                    <div th:class="'messageAdd' + ${categor.id}"></div>
                                    <div th:object="${product}" class="form-group">
                                        <label>Название</label>
                                        <input required="" type="text" class="form-control" autocomplete="off"
                                               th:id="addName+${categor.id}"
                                               name="name" placeholder="Название"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Описание</label>
                                        <input type="text" class="form-control" th:id="addDes+${categor.id}"
                                               autocomplete="off"
                                               name="description"
                                               placeholder="Описание"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Цена</label>
                                        <input type="text" class="form-control" th:id="addCost+${categor.id}"
                                               autocomplete="off"
                                               name="cost"
                                               th:placeholder="${!categor.floatingPrice} ? 'Цена' : 'Плавающая'"
                                               th:attrappend="disabled=${categor.floatingPrice} ? disabled, value=${categor.floatingPrice} ? 0.0 "/>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion"
                                                   th:href="'#pan'+${categor.id}"
                                                   aria-expanded="true" aria-controls="collapseOne">
                                                    <i class="more-less glyphicon glyphicon-plus"></i>
                                                    Добавить рецепт
                                                </a>
                                            </h4>
                                        </div>
                                        <div th:id="pan+${categor.id}" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <div id="hideTable">
                                                    <table th:id="recipeTable +${categor.id}"
                                                           class="table table-striped table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th>Ингредиент</th>
                                                            <th>Количество</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr id="Row2">
                                                            <td>
                                                                <select th:id="selectId" name="multiple[]"
                                                                        class="form-control mySelect">
                                                                    <div th:each="ing : ${ingredients}">
                                                                        <option th:class="optionClass"
                                                                                th:value="${ing.name}"
                                                                                th:text="${ing.name}+ '   -   ' +  ${ing.dimension}  "></option>
                                                                    </div>
                                                                </select></td>
                                                            <td><input th:class="inputClassTest" th:value="0"
                                                                       style="width: 150px"
                                                                       th:type="number" min="0"/></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <button id="addRow" th:onclick="'addIng(\''+ ${categor.id} + '\');'"
                                                            type="button" class="btn btn-success ">Добавить
                                                    </button>
                                                    <button id="deleteRow"
                                                            th:onclick="'deleteIng(\''+ ${categor.id} + '\');'"
                                                            type="button" class="btn btn-danger ">Удалить
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <button id="saveNewProductData" th:attr="data-id=${categor.id}" type="button"
                                        class="btn btn-lg btn-primary btn-block" name="add"
                                        th:value="${categor.id}">
                                    Сохранить
                                </button>
                                <div class="modal-footer">
                                    <button type="button"
                                            class="btn btn-default" data-dismiss="modal">Закрыть
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <form role="form" method="post" action="/boss/menu/deleteCat" style="margin: 10px auto; width: 50%">
                        <div align="center" class="modal fade" th:id="'delCat'+${categor.id}" tabindex="-1"
                             role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalDelete">Удаление категории</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Название</label>
                                            <input type="text" readonly="readonly" class="form-control" id="deleteCat"
                                                   name="name"
                                                   th:value="${categor.name}" autocomplete="off"
                                            ></input>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-primary btn-block" name="del"
                                            autocomplete="off"
                                            th:value="${categor.id}">
                                        Удалить
                                    </button>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <form role="form" method="post" action="/boss/menu/addCategory" style="margin: 10px auto; width: 50%">
            <div align="center" class="modal fade" th:id="'addCat'" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel5">Новая категория</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Название</label>
                                <input required="" type="text" class="form-control" id="loginProd2" name="name"
                                       autocomplete="off"
                                ></input>
                            </div>
                            <div class="checkbox" align="left">
                                <label>
                                    <input type="checkbox" value="false" name="dirtyProfit">
                                    Не добавлять в прибыль грязными</input>
                                </label>
                            </div>
                            <div class="checkbox" align="left">
                                <label>
                                    <input type="checkbox" value="true" name="floatingPrice">
                                    Категория с плавющей ценной</input>
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary btn-block" name="add">Сохранить</button>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div align="center" class="dima_modal modal" id="dima" style="display: none;"
             tabindex="-1"
             role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Редактирование </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input required="" id="d_id" type="hidden" class="form-control"

                            ></input>
                            <h4><label>Название</label></h4>
                            <input type="text" class="form-control" autocomplete="off"
                                   id="d_name"
                            ></input>
                        </div>
                        <div class="form-group">
                            <h4><label>Описание</label></h4>
                            <input type="text" class="form-control" autocomplete="off"
                                   id="d_des"
                                   name="description"

                            ></input>
                        </div>
                        <div class="form-group">
                            <h4><label>Цена</label></h4>
                            <input type="text" class="form-control"
                                   id="d_cost"
                                   pattern="\d+" title="только цифры" autocomplete="off"

                            ></input>
                        </div>
                    </div>
                    <button type="button" name="upd"
                            class="btn btn-lg btn-primary btn-block"
                            data-dismiss="modal" onclick=" editProdModal()"
                    >Сохранить
                    </button>

                    <div class="modal-footer">
                        <button type="button" name="upd" class="btn btn-default"
                                data-dismiss="modal" onclick="closeModal()">
                            Отмена
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.container -->

    <div th:replace="fragments/bossChangePassword :: BossChangePassword"></div>
    <div th:replace="media/advertisingDispatch :: advertising"></div>
</header>
<script th:src="@{/js/boss/menu.js}"></script>
<script th:src="@{/js/boss/changePassword.js}"></script>
<script th:src="@{/js/mail.js}"></script>
<script th:src="@{/js/filter.js}"></script>
<script>

    function getRecipePage() {


        $.get("test.php", {name: "John", time: "2pm"});

    }


    //<![CDATA[
    function addIng(id) {
        first_row = $('#Row2');
        first_row.clone().appendTo('#recipeTable' + id);
    }
    ;

    function deleteIng(id) {
        var table_parent = $(document).find('#recipeTable' + id);
        var inputs = [];
        table_parent.find('.inputClassTest').each(function () {
            inputs.push($(this).val());
        });

        if (inputs.length >= 2) {
            $('#recipeTable' + id + ' tr:last').remove();
        }
    }
    ;

    function test(id) {
        var ingredient = [];
        var amount = [];
        var map = new Object();
        var i = 0;
        var table_parent = $(document).find('#recipeTable' + id);
        table_parent.find('.mySelect option:selected').each(function () {
            ingredient.push($(this).val());
        });
        table_parent.find('.inputClassTest').each(function () {
            amount.push($(this).val());
        });
        for (i = 0; i < ingredient.length; i++) {
            map[ingredient[i]] = amount[i];
        }
    }
    ;
    //]]>
</script>
</body>

</html>