<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:include="fragments/headTag :: bootstrap" th:remove="tag"></div>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top " th:fragment="bossNavbar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a style="font-size: 20px;" class="navbar-brand">Cafe-CRM</a>
    </div>
    <div style="font-size: 17px;margin-top: 5px;" class="collapse navbar-collapse">
        <ul class="nav navbar-nav ">
            <li sec:authorize="hasAuthority('BOSS')">
                <a class="glyphicon glyphicon-refresh" th:href="@{/manager}"
                   style="padding-left: 10px;    padding-top: 8px;"></a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle disabled" data-toggle="dropdown" href="#">Меню<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/boss/menu">Меню</a></li>
                    <li><a href="/boss/menu/ingredients">Ингредиенты</a></li>
                    <li><a href="/boss/cost/category">Категории расходов</a></li>
                </ul>
            </li>
            <!-- <li><a href="/boss/statistics">Статистика</a></li>-->
            <li class="dropdown">
                <a class="dropdown-toggle disabled" data-toggle="dropdown" href="#">Статистика<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/boss/totalStatistics">Общая статистика</a></li>
                    <li><a href="/boss/statistics">Статистика по сменам</a></li>
                    <li th:if="${cardEnable}"><a href="/boss/card/statistic/all">Статистика по картам</a></li>
                </ul>
            </li>
            <li><a href="/boss/user/accounting">Сотрудники</a></li>
            <li><a href="/boss/settings/price-setting">Настройки</a></li>
            <li th:if="${cardEnable}"><a href="/boss/card/generationPage">Генерация карт</a></li>
            <li th:if="${cardEnable}"><a data-toggle="modal" th:href="'#advertising'">Реклама</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Выход</a></li>
        </ul>
    </div><!--/.nav-collapse -->

</div><!--/.navbar -->
</body>
</html>