<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/jquery-3.2.0.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/st.css}" type="text/css"/>
    <script th:src="@{/filter.js}"></script>
</head>

<body>

<header>
    <div class="container" style="margin-top:50px">
        <div th:replace="bossnavbar :: bossNavbar">
        </div><!--/.navbar -->
        <div>
            <h3 align="center"><h1 th:align="center" style="color: #5bc0de;">Поиск</h1></h3>
            <input id="filter" style="margin-bottom: 10px" type="text" class="form-control"
                   placeholder="Поиск по полям"></input>
        </div>
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
                <li style="color: #5bc0de;" th:each="cat : ${categories}"><a th:href="'#' +${cat.id}" data-toggle="tab">
                    <h4 style="color: #5bc0de;"
                        th:text="${cat.name}"></h4></a></li>
            </ul>
            <div display="inline-block" style="float:left">
                <button type="button" class="btn  btn-primary" data-dismiss="modal" display="inline-block"
                        th:href="'#addCat'" data-toggle="modal">
                    Создать новую категорию
                </button>
            </div>
            <div class="tab-content">
                <div class="tab-pane " th:id="${categor.id}" th:each="categor:${categories}">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
                            Подробнее
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- dropdown menu links -->
                            <li><a th:href="'#a'+${categor.id}" data-toggle="modal">Редлактировать категорию</a></li>
                            <li><a th:href="'#add'+${categor.id}" data-toggle="modal">Добавить продукт</a></li>
                            <li><a th:href="'#delCat'+${categor.id}" data-toggle="modal">Удалить категорию</a></li>
                        </ul>
                    </div>
                    <h1 th:align="center" style="color: #5bc0de;">Меню</h1>
                    <div class="row">
                    </div>
                    <div class="table" style="border-radius:5px;" data-page="bossview.html">
                        <table class="table table-striped">
                            <tr>
                                <th>#</th>
                                <th>Наименование</th>
                                <th>Описание</th>
                                <th>Цена</th>
                                <th>Редактировать</th>
                                <th>Удалить</th>
                            </tr>
                            <tbody class="searchable" th:each="prod,iter:${categor.getProducts()}">
                            <tr>
                                <td><p th:text="${iter.count}"></p></td>
                                <td><p th:text="${prod.name}"></p></td>
                                <td><p th:text="${prod.description}"></p></td>
                                <td><p th:text="${prod.cost}"></p></td>
                                <td class="col-lg-2"><a id="ins" class="btn btn-primary btn-info"
                                                        th:href="'#p'+${prod.id}"
                                                        data-toggle="modal">Редактировать </a></td>

                                <td>
                                    <form method="post" th:action="'/boss/menu/deleteProduct'">
                                        <button class="btn btn-primary btn-danger" name="del" th:value="${prod.id}">
                                            Удалить
                                        </button>
                                    </form>
                                </td>
                                <form role="form" method="post" action="/boss/menu/upd"
                                      style="margin: 10px auto; width: 50%; paddng-bottom:40px;">
                                    <div th:object="${product}" align="center" class="modal fade" th:id="'p'+${prod.id}"
                                         tabindex="-1"
                                         role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"><span
                                                            aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Редактирование </h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <input type="hidden" class="form-control" id="id" name="id"
                                                               th:value="${prod.id}"
                                                        ></input>
                                                        <label>Название</label>
                                                        <input type="text" class="form-control" id="login2" name="name"
                                                               th:value="${prod.name}"
                                                        ></input>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Описание</label>
                                                        <input type="text" class="form-control" id="des"
                                                               name="description"
                                                               th:value="${prod.description}"
                                                        ></input>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Цена</label>
                                                        <input type="text" class="form-control" id="costt" name="cost"
                                                               th:value="${prod.cost}"
                                                        ></input>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Цена</label>
                                                        <input type="hidden" class="form-control" id="costt" name="cat"
                                                               th:value="${prod.category.id}"
                                                        ></input>
                                                    </div>
                                                </div>
                                                <button id="super" type="submit" class="btn btn-primary" name="upd"
                                                        th:value="submit">Сохранить
                                                </button>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        Закрыть
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <form role="form" method="post" action="/boss/menu/updCategory"
                          style="margin: 10px auto; width: 50%">
                        <div align="center" class="modal fade" th:id="'a'+${categor.id}" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel2">Редактирование категории</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Название</label>
                                            <input type="text" class="form-control" id="loginCat" name="name"
                                                   th:value="${categor.name}"
                                            ></input>
                                        </div>

                                    </div>
                                    <button type="submit" class="btn btn-primary" name="upd" th:value="${categor.id}">
                                        Сохранить
                                    </button>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form role="form" method="post" action="/boss/menu/addProduct"
                          style="margin: 10px auto; width: 50%">
                        <div align="center" class="modal fade" th:id="'add'+${categor.id}" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel4">Редактирование категории</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div th:object="${product}" class="form-group">
                                            <label>Название</label>
                                            <input type="text" class="form-control" id="loginProd" name="name"
                                            ></input>
                                        </div>
                                        <div class="form-group">
                                            <label>Описание</label>
                                            <input type="text" class="form-control" id="des22" name="description"
                                            ></input>
                                        </div>
                                        <div class="form-group">
                                            <label>Цена</label>
                                            <input type="text" class="form-control" id="desprod" name="cost"
                                            ></input>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary" name="add" th:value="${categor.id}">
                                        Сохранить
                                    </button>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form role="form" method="post" action="/boss/menu/deleteCat" style="margin: 10px auto; width: 50%">
                        <div align="center" class="modal fade" th:id="'delCat'+${categor.id}" tabindex="-1"
                             role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalDelete">Удаление категории</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Название</label>
                                            <input type="text" class="form-control" id="deleteCat" name="name"
                                                   th:value="${categor.name}"
                                            ></input>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary" name="del" th:value="${categor.id}">
                                        Удалить
                                    </button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <form role="form" method="post" action="/boss/menu/addCategory" style="margin: 10px auto; width: 50%">
            <div align="center" class="modal fade" th:id="'addCat'" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel5">Новая категория</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Название</label>
                                <input type="text" class="form-control" id="loginProd2" name="name"
                                ></input>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" name="add">Сохранить</button>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div><!--/.container -->

</header>

<script>
    $(document).ready(function () {

        (function ($) {

            $('#filter').keyup(function () {

                var rex = new RegExp($(this).val(), 'i');
                $('.searchable tr').hide();
                $('.searchable tr').filter(function () {
                    return rex.test($(this).text());
                }).show();

            })

        }(jQuery));
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#myTab a").click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>
<script>
    $('.super').click(function () {
        var pageName = $(this).data('page');
        // ajax-запрос
        $.ajax({
            url: '/boss/menu/upd',
            cache: false,
            success: function (html) {
                $("#bossview").html(html);
            }
        });
    });
</script>
</body>

</html>