<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/jquery-3.2.0.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/st.css}" type="text/css"/>

</head>
<body>
<div th:fragment="BossChangePassword">
    <div align="center" class="modal" th:id="'newBossPass'" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" id="up" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="major">Смена пароля </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Введите старый пароль</label>
                        <input type="password" required="" class="form-control" id="old" name="oldPassword"
                               placeholder="Введите пароль" autocomplete="off"
                        />
                        <label>Введите новый пароль</label>
                        <input type="password" required="" class="form-control" id="new" name="newPassword"
                               placeholder="Введите пароль" autocomplete="off"
                        />
                        <label>Повторите ввод</label>
                        <input type="password" required="" class="form-control" id="secondNew" name="secondNewPassword"
                               placeholder="Введите пароль повторно" autocomplete="off"

                        />
                    </div>
                </div>
                <button type="submit" id="save" onclick="testB()" class="btn btn-primary">
                    Сохранить
                </button>

                <div class="modal-footer">
                    <button type="button" onclick="location.reload()" class="btn btn-default" data-dismiss="modal">
                        Закрыть
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function testB() {
            var new_pass_1 = $('#new').val();
            var new_pass_2 = $('#secondNew').val();
            if (new_pass_1 === new_pass_2) {
                var formData = {
                    new: $('#new').val(),
                    old: $('#old').val(),
                    secondNew: $('#secondNew').val(),
                }
                $.ajax({
                    type: "POST",
                    url: "/boss/changePassword",
                    data: formData,
                    success: function (result) {
                        $('.form-group').html('Смена пароля прошла успешно.');
                        $('#major').hide();
                        $("#save").hide()
                    },
                    error: function (e) {
                        var json = '<h4 style="color:red">Действующий пароль введён неверно</h4>';
                        $('#major').html(json);
                        $('#old').val('').attr("placeholder", "");
                    }
                });
            } else {
                $('#new, #secondNew').val('').attr("placeholder", "");
                var json = '<h4 style="color:red">Новые пароли не совпадают </h4>';
                $('.modal-title').html(json);
                return false;
            }
        }
        ;
    </script>
</div>
</body>
</html>