<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="width: 250px; box-shadow: 0 0 3px 0; border-radius: 10px" th:each="card : ${card}">

    <div th:if="${card.activatedCard}">
        <center>
            <label for="myFile">
                <img alt="Выбрать фото" style="border-radius: 5px" class="picture"
                     th:src="@{'/manager/image/'+${card.id}}" width="150" height="150"/><br/>
            </label>
            <div>
                <form method="POST" enctype="multipart/form-data" action="/manager/uploadPhoto">
                    <input id="myFile" class="hide" style="display:none" type="file" name="file"/>
                    <input id="id" class="hide2" type="hidden" name="id" th:value="${card.id}"/>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
            <h3 style="margin-right: 20px;" th:text="${card.name}"></h3>
        </center>
        <br/>
        <div style="float:left; height: 40px; width: 110px"><h4>Скидка:</h4></div>
        <div style="height: 40px;float:left; width: 110px"><h4 th:text="${card.discount} + '%'"></h4></div>
        <div style="float:left; height: 40px; width: 110px"><h4>Баланс:</h4></div>
        <div style="height: 40px;float:left; width: 110px"><h4 th:text="${card.balance} + 'р'"></h4></div>
        <div style="float:left; height: 40px; width: 110px"><h4>Потрачено:</h4></div>
        <div style="height: 40px;float:left; width: 110px"><h4 th:text="${card.spend} + 'р'"></h4></div>
        <div style="float:left; height: 70px; width: 110px"><h4>Дата последнего визита:</h4></div>
        <div style="height: 70px;float:left; width: 110px"><h4
                th:text="${card.visitDate != null} ? ${card.visitDate} : ''"></h4></div>

        <button class="btn"
                style="background: rgba(182,200,215,0.58); height:30px; width:220px; margin-bottom: 10px; font-size: 18px; padding:0"
                data-toggle="modal" href="#myModal1">
            Редактировать
        </button>
        <button class="btn" data-toggle="modal" href="#2myModal"
                style="background: rgba(182,200,215,0.58); height:30px; width:220px; margin-bottom: 10px; font-size: 18px; padding:0">
            Пополнить баланс
        </button>
        <button class="btn" data-toggle="modal" href="#3myModal"
                style="background: rgba(182,200,215,0.58); height:30px; width:220px;margin-bottom: 10px;font-size: 18px; padding:0">
            Прикрепить к расчету
        </button>

        <button class="btn" data-toggle="modal" href="#4myModal"
                style="background: rgba(182,200,215,0.58); height:30px; width:220px;margin-bottom: 10px;font-size: 18px; padding:0">
            Открыть счёт
        </button>
    </div>
    <div th:if="!${card.activatedCard}">
        <center>
            <label for="myFile">
                <img alt="Выбрать фото" style="border-radius: 5px" class="picture"
                     th:src="@{'/manager/image/'+${card.id}}" width="150" height="150"/><br/>
            </label>
            <div>
                <form method="POST" enctype="multipart/form-data" action="/manager/uploadPhoto">
                    <input id="myFile" class="hide" style="display:none" type="file" name="file"/>
                    <input id="id" class="hide2" type="hidden" name="id" th:value="${card.id}"/>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
            <hr/>
            <button class="btn "
                    style="background: rgba(182,200,215,0.58); height:30px; width:220px; margin-bottom: 10px; font-size: 18px; padding:0 "
                    data-toggle="modal" href="#regModal">
                Регистрация
            </button>


        </center>
        <br/>
    </div>
    <div th:id="myModal1" class="modal fade">
        <div class="modal-dialog " style="width: 300px;" role="document">
            <div class="modal-content">
                <div class="modal-photo">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Редактирование</h4>
                    </div>
                    <div class="modal-body" style="width:300px;">
                        <form id="editForm" method="post" th:action="@{/manager/card/edit}">
                            <input type="hidden" name="idCard" th:value="${card.id}"/>
                            <div class="form-group">
                                <label>Имя </label>
                                <input class="form-control" required="" autocomplete="off" name="name"
                                       th:value="${card.name}"/>
                            </div>
                            <div class="form-group">
                                <label>Фамилия</label>
                                <input class="form-control" required="" autocomplete="off" name="surname"
                                       th:value="${card.surname}"/>
                            </div>
                            <div class="form-group">
                                <label id="editPhone">Номер телефона (Код страны + тел. номер)</label>
                                <input id="inputEditPhone" style="" class="form-control" pattern="^8\+?\d{10}" required="" th:type="text"
                                       autocomplete="off" name="phone"
                                       th:value="${card.phoneNumber}"/>
                            </div>
                            <div class="form-group">
                                <label id="labelEditEmail">Почтовый ящик</label>
                                <input id="editEmailInput" class="form-control" required="" th:type="email"
                                       autocomplete="off" name="email"
                                       th:value="${card.email}"/>
                            </div>
                            <div class="modal-footer">
                                <button th:onclick="'submitEdit(event,this.form);'" class="btn btn-default">Сохранить
                                </button>
                                <button type="button"
                                        class="btn btn-default" data-dismiss="modal">Отмена
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:id="2myModal" class="modal fade">
        <div class="modal-dialog " style="width: 300px;" role="document">
            <div class="modal-content">
                <div class="modal-photo">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Пополнение баланса</h4>
                    </div>
                    <div class="modal-body" style="width:300px;">
                        <form method="post" th:action="@{/manager/card/addMoney}">
                            <div class="form-group">
                                <input type="hidden" name="id" th:value="${card.id}"/>
                                <input class="form-control" required="" th:type="number" autocomplete="off" name="money"
                                       pattern="\d+" title="только цифры" placeholder="Введите сумму"/>
                            </div>
                            <button type="submit" class="btn btn-default"
                            >Пополнить
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:id="3myModal" class="modal fade">
        <div class="modal-dialog " style="width: 300px;" role="document">
            <div class="modal-content">
                <div class="modal-photo">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Добавление карты к расчету</h4>
                    </div>
                    <div class="modal-body" style="width:300px;">
                        <div th:each="calculate : ${listCalculate}">
                            <form method="post" action="/manager/add-card-to-calculate">
                                <input type="hidden" name="idCard" th:value="${card.id}"/>
                                <input type="hidden" name="idCalculate" th:value="${calculate.id}"/>
                                <button type="submit" class="btn btn-default"
                                        style=" font-size: 17px; float: left; height: 40px"
                                        th:text="${calculate.getBoard().name}"></button>
                            </form>
                            <div th:text="${calculate.description}" style="border: 1px solid #858585;
                        border-radius:5px; margin-left: 78px; width:200px;height: 40px;margin-bottom: 15px;font-size: 15px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>