<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/st.css}" type="text/css"/>

</head>
<body>
<header>
    <div class="container" style="margin-top:50px; ">
        <div class="row">

            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Project Name</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Заказы</a></li>
                        <li><a href="#">Что-то другое</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<button class="btn btn-default" style="float: left">Редактирование столов</button>
<div class="container" style=" box-shadow: 0 3px 6px 0; border-radius: 10px; background: #ffffff; min-width: 1200px">

    <!-- модальное окно с созданием счета начало-->
    <center>
        <button class="btn btn-info" data-toggle="modal" data-target="#myModal">Открыть счет</button>
    </center>

    <div id="myModal" class="modal fade">
        <div class="modal-dialog " style="width: 300px;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Добавление счета</h4>
                </div>
                <div class="modal-body" style="width:300px;">
                    Описание
                    <form id="formMod" action="/add-calculate" method="post">
                        <input class="form-control" type="text" name="description"/>
                        <h4 style="margin-right: 20px; float: left">Кол-во человек</h4>
                        <h4>Стол</h4>

                        <input style="width: 90px;margin-right: 60px; float: left" class="form-control" type="text"
                               name="number" list="data"/>
                    </form>
                    <datalist id="data">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </datalist>

                    <select class="form-control " form="formMod" style="width:90px;" name="boardId">
                        <c th:each="board : ${listBoard}">
                            <option th:value="${board.id}"><h4 th:text="${board.name}"></h4></option>
                        </c>
                    </select>


                    <br/>
                    <br/>
                    <button form="formMod" class="btn btn-primary" type="submit">Создать</button>
                </div>
            </div>
        </div>
    </div>
    <!-- модальное окно с созданием счета конец-->
    <br/>

    <div th:each="calculate : ${listCalculate}">


        <!--панель с данными начало-->
        <div class="panel panel-primary">
            <div class="panel-heading" style="height: 50px">
                <div class="panel-title">


                    <form style="float: left" method="post" action="/refresh-board" th:id="'formRef'+${calculate.id}">
                        <input type="hidden" name="calculateId" th:value="${calculate.id}"/>
                        <button style="background: rgba(255,255,255,0); border: none" type="submit"><img width="30px"
                                                                                                         height="30px"
                                                                                                         src="http://icon-icons.com/icons2/37/PNG/512/sinchronize_theapplication_thearrow_2888.png"/>
                        </button>

                    </form>

                    <select style="width:130px; float: left; height: 34px; margin-left: 20px; font-size:18px "
                            class="form-control" th:form="'formRef'+${calculate.id}" name="boardId">
                        <option th:value="${calculate.getBoard().id}"
                                th:text="${calculate.getBoard().name}"></option>
                        <p th:each="b : ${listBoard}">
                        <p th:if="(${calculate.getBoard().name} != ${b.name})">
                            <option th:value="${b.id}" th:text="${b.name}"></option>
                        </p>
                        </p>
                    </select>


                    <div style="float: left; width: 800px; word-wrap: break-word; font-size: 20px; height: 40px; text-align: center "
                         data-toggle="collapse" th:href="'#accord' + ${calculate.id}"
                         th:text="${calculate.description}">
                    </div>

                    <!--
                                        <a><img width="25px" height="25px"
                                                                             src="http://icon-icons.com/icons2/936/PNG/512/dollar-symbol_icon-icons.com_73598.png"/>
                                        </a> -->
                    <button style="background: rgba(255,255,255,0); border: none;margin-left: 70px" type="submit"><img
                            width="30px" height="30px"
                            src="http://www.clker.com/cliparts/t/f/J/i/7/C/amazon-style-close-button-hi.png"/>
                    </button>


                </div>
                <!--панель с данными верх -->
            </div>

            <div th:id="'accord' + ${calculate.id}" class="panel-collapse collapse">
                <div class="panel-body" style="background: #f0efee">


                    <!--второе мать его мадальное окно для клиента .... вниз-->
                    <button class="btn btn-default" data-toggle="modal"
                            th:href="'#myModal1' + ${calculate.id}"
                            style="float: left"><img width="10px" height="10px"
                                                     src="http://www.imbf.org/interesnye-stati/images/simvol-087.png"/>
                    </button>

                    <div th:id="'myModal1' + ${calculate.id}" class="modal fade">
                        <div class="modal-dialog " style="width: 300px;" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" type="button" data-dismiss="modal">×</button>
                                    <h4 class="modal-title">Добавление клиента</h4>
                                </div>
                                <div class="modal-body" style="width:300px;">
                                    Описание клиента
                                    <form th:id="'formMod1' + ${calculate.id}" action="/add-client"
                                          method="post">

                                        <input class="form-control" type="text" name="description"/>

                                        <input type="hidden" name="calculateId"
                                               th:value="${calculate.id}"/>

                                        <h4 style="margin-right: 20px; float: left">Кол-во человек</h4>

                                        <input style="width: 90px;margin-right: 60px; float: left"
                                               class="form-control" type="text" name="number"
                                               list="data1"/>
                                    </form>
                                    <datalist id="data1">
                                        <option value="1"></option>
                                        <option value="2"></option>
                                        <option value="3"></option>
                                        <option value="4"></option>
                                        <option value="5"></option>
                                    </datalist>

                                    <br/>
                                    <br/>
                                    <button th:form="'formMod1' + ${calculate.id}"
                                            class="btn btn-primary" type="submit">
                                        Создать
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--второе мадальное окно для клиента ....вверх-->

                    <button class="btn btn-default" style="float: left; margin-right: 200px">Меню
                    </button>



                    <div th:if="(${calculate.getCard()})">
                        <div style="float: left; height: 1px; width:240px;"><h4 style="font-size: 20px;"
                                                                                th:text="${calculate.getCard().name}+ '. Баланс: ' + ${calculate.getCard().balance}"></h4>
                        </div>
                        <input  th:id = "'in' + ${calculate.id}"  style="width:60px;font-size: 20px;float: left" class="form-control" type="text"
                               th:value="${calculate.getCard().discount}"/>
                        <h2>%</h2>
                    </div>

                    <div th:if="(${calculate.getCard()} == null)">
                        <div style="float: left; height: 1px; width:240px;"><h4 style="font-size: 20px;">Карта не
                            подключена</h4></div>
                        <input  th:id = "'in' + ${calculate.id}" style="width:60px;font-size: 20px;float: left" class="form-control" type="text"
                               value="0"/>
                        <h2>%</h2>
                    </div>


                    <div th:each="client : ${calculate.getClient()}">

                        <div style="background: #dbdbdd;margin-top: 15px; border-radius: 3px;height: 34px;">




                            <form  th:id = "'mainForm' + ${client.id}" method="post" action="/calculate-price">

                                <input  name = "discountInput" th:id = "'in1' + ${client.id}"  type="hidden" />

                            <input  type="hidden" name = "clientId" th:value="${client.id}" />
                            <button   th:onclick="'dd(\'' +'in1'+ ${client.id} + '\',\'' +'in'+ ${calculate.id} + '\');'"
                                      type="submit" class="btn btn-default" style="float: left;margin-right:5px;"><img width="16px" height="16px"
                                                                                                       src="http://icon-icons.com/icons2/936/PNG/512/dollar-symbol_icon-icons.com_73598.png"/>
                            </button>


                            </form>


                            <select name = "numberToCalculate" th:form="'mainForm' + ${client.id}"  class="form-control "
                                    style="width:85px;height: 34px; margin-right: 20px;font-size: 17px; float: left">
                                <option value="Всех">Всех</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>


                            <h4 style="float: left; width: 300px; height: 1px;"
                                th:text="${client.description}"></h4>
                            <h4 style="float: left;margin-right: 100px"
                                th:text="'Время создания: ' + ${client.timeStart}"></h4>
                            <h4 style="float: left;margin-right:90px "
                                th:text="'Кол-во человек: ' + ${client.number}"></h4>
                            <h4 style="float: left; "
                                th:text="'К оплате: ' + ${client.price}"></h4>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
function dd(j,j1) {
    var elem1 = document.getElementById(j1);
    var elem = document.getElementById(j);

    elem.value = elem1.value;
}
</script>
</body>
</html>