<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" type="text/css" media="all" href="subMenu.css" />
    <link rel="stylesheet" type="text/css" media="all" href="main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<header>





</header>

<body>
<div class="container ">
    <div class="panel-group" id="accordion1">




        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
                    Меню
                </a></h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">

                    <!-- Here we insert another nested accordion -->

                    <div class="panel-group" id="accordion2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerOne">
                                    ночное
                                </a></h4>
                            </div>
                            <div id="collapseInnerOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Тут категории
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwo">
                                    другое меню
                                </a></h4>
                            </div>
                            <div id="collapseInnerTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Тут категории
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>