<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:include="fragments/headTag :: bootstrap" th:remove="tag"></div>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="managerNavbar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a style="font-size: 20px;" class="navbar-brand">Cafe-CRM</a>
    </div>
    <div class="collapse navbar-collapse">
        <div style="font-size: 17px;margin-top: 5px;">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasAuthority('BOSS')">
                    <a class="glyphicon glyphicon-refresh" th:href="@{/boss/menu}" style="padding-left: 10px;    padding-top: 8px;"></a>
                </li>
                <li><a href="/manager">Счета</a></li>
                <li><a href="/manager/shift/edit">Настройки</a></li>
                <li><a href="/manager/costs">Расходы</a></li>
                <li><a href="/manager/tableDebt">Долги</a></li>
                <li><a data-toggle="modal" th:href="'#newPass'">Пароль</a></li>
                <li><a data-toggle="modal" th:href="'#closeShiftModalId'">Закрытие смены</a></li>
                <li><a href="/logout">Выход</a></li>
            </ul>
        </div>
    </div><!--/.nav-collapse -->
</div><!--/.navbar -->
</body>
</html>