<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/jquery-3.2.0.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/st.css}" type="text/css"/>
</head>
<body>
<div th:fragment="managerChangePassword">
    <div align="center" class="modal" th:id="'newPass'" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" id="up" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="major2">Смена пароля </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Введите старый пароль</label>
                        <input type="password" required="" class="form-control" id="old1" name="oldPassword"
                               placeholder="Введите пароль"
                        />
                        <label>Введите новый пароль</label>
                        <input type="password" required="" class="form-control" id="new1" name="newPassword"
                               placeholder="Введите пароль"
                        />
                        <label>Повторите ввод</label>
                        <input type="password" required="" class="form-control" id="secondNew1" name="secondNewPassword"
                               placeholder="Введите пароль повторно"
                        />
                    </div>
                </div>
                <button type="submit" id="save" onclick="testA()" class="btn btn-primary">
                    Сохранить
                </button>
                <div class="modal-footer">
                    <button type="button" onclick="location.reload()" class="btn btn-default" data-dismiss="modal">
                        Закрыть
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/manager/changePassword.js}"></script>
</div>
</body>
</html>