<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>
<div class="table" style="border-radius:5px;" th:fragment="managerList">
    <table class="table table-striped">
        <tr>
            <th> Имя</th>
            <th> Фамилия</th>
            <th> Логин</th>
            <th> Пароль</th>
            <th> Должность</th>
            <th> Оклад За Смену</th>
            <th> Количество Смен</th>
            <th> Зарплата</th>
            <th> Редактирование</th>
            <th> Удалить</th>
        </tr>
        <tbody class="searchable" th:each="manager : ${managerList}">
        <tr>
            <td th:text="${manager.firstName}"></td>
            <td th:text="${manager.lastName}"></td>
            <td th:text="${manager.login}"></td>
            <td th:text="${manager.password}"></td>
            <td th:text="${manager.position}"></td>
            <td th:text="${manager.shiftSalary}"></td>
            <td th:text="${manager.countShift}"></td>
            <td th:text="${manager.salary}"></td>
            <td class="col-lg-2">
                <a class="btn btn-primary btn-info" th:href="'#aa'+${manager.id}" data-toggle="modal">Редактировать</a>
            </td>

            <td class="col-lg-2">
                <a class="btn btn-primary btn-danger" th:href="'#bb'+${manager.id}" data-toggle="modal">Удалить</a>
            </td>

            <div class="modal fade" th:id="'aa'+${manager.id}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="form-signin-heading">Форма Редактирования Сотрудника</h2>
                        </div>
                        <div class="modal-body">

                            <form class="form-signin" action="worker/editWorker" method="POST">

                                <input type="hidden" class="form-control" th:value="${manager.id}" name="id"/>

                                <h4>Имя</h4>
                                <input type="text" class="form-control" th:value="${manager.firstName}"
                                       name="firstName"/>
                                <br></br>


                                <h4>Фамилия</h4>
                                <input type="text" class="form-control" th:value="${manager.lastName}" name="lastName"/>
                                <br></br>

                                <h4>Должность</h4>
                                <input type="text" readonly="readonly" class="form-control"
                                       th:value="${manager.position}" name="position"/>
                                <br></br>
                                <h4>Login</h4>
                                <input type="text" class="form-control" th:value="${manager.login}" name="login"/>
                                <br></br>
                                <h4>Password</h4>
                                <input type="text" class="form-control" th:value="${manager.password}" name="password"/>
                                <br></br>

                                <h4>Оклад За Смену</h4>
                                <input type="text" class="form-control" th:value="${manager.shiftSalary}"
                                       name="shiftSalary"/>
                                <br></br>


                                <button type="submit" class="btn btn-lg btn-primary btn-block">Изменить Данные</button>
                                <br></br>
                            </form>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" th:id="'bb'+${manager.id}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="form-signin-heading">Форма Удаления Сотрудника</h2>
                        </div>
                        <div class="modal-body">
                            <h3 style="color: crimson">Удалить сотрудника?</h3>
                            <br></br>
                            <form class="form-signin" th:action="'worker/deleteWorker/'+${manager.id}" method="GET">

                                <input type="hidden" class="form-control" readonly="readonly" th:value="${manager.id}"
                                       name="id"/>

                                <h4>Имя</h4>
                                <input type="text" class="form-control" th:value="${manager.firstName}"
                                       name="firstName"/>
                                <br></br>


                                <h4>Фамилия</h4>
                                <input type="text" class="form-control" th:value="${manager.lastName}" name="lastName"/>
                                <br></br>

                                <h4>Должность</h4>
                                <input type="text" readonly="readonly" class="form-control"
                                       th:value="${manager.position}" name="position"/>
                                <br></br>
                                <h4>Login</h4>
                                <input type="text" class="form-control" th:value="${manager.login}" name="login"/>
                                <br></br>
                                <h4>Password</h4>
                                <input type="text" class="form-control" th:value="${manager.password}" name="password"/>

                                <br></br>

                                <h4>Оклад За Смену</h4>
                                <input type="text" class="form-control" th:value="${manager.shiftSalary}"
                                       name="shiftSalary"/>
                                <br></br>

                                <button type="submit" class="btn btn-lg btn-primary btn-block">Да</button>
                                <br></br>
                                <button type="button" class="btn btn-lg btn-primary btn-block" data-dismiss="modal">
                                    Нет
                                </button>
                                <br></br>
                            </form>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
