<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:include="fragments/headTag :: bootstrap" th:remove="tag"></div>
    <link rel="stylesheet" th:href="@{/css/costs.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/statisticTabs.css}" type="text/css"/>
</head>
<body>
<div th:replace="bossnavbar :: bossNavbar"></div>
<!--/.navbar -->





<div class="col-md-7 col-sm-offset-3">
    <div class="container">
        <center>
        <div class="row" style="margin-top: 5%">
                <h1 style="color: #5bc0de;">
                    Статистика за период с: <span th:text="${from} + ' по ' + ${to}"></span></h1>
        </div>
        </center>
        <hr/>
        <div class="row">
            <center>
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#shortStatistic">Краткая статистика
                </button>
            </center>
            <div id="shortStatistic" class="collapse">
                <table class="table table-striped" style="margin-top: 3%">
                    <thead>
                    <tr>
                        <th>Касса</th>
                        <th>Прибыль грязными</th>
                        <th>Прочие расходы</th>
                        <th>Зарплатные расходы</th>
                        <th>Количество клиентов</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${cashBox}"></td>
                        <td th:text="${totalStat.profit}"></td>
                        <td th:text="${totalStat.otherCosts}"></td>
                        <td th:text="${totalStat.salariesCosts}"></td>
                        <td th:text="${totalStat.clients.size()}"></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <hr/>
        <div class="row">
            <center>
                <form class="form-inline" role="form" th:method="post" action="/boss/totalStatistics/searchByDate">
                    <label for="from" class="control-label" style="color: #5bc0de;font-size: 30px">Дата смены с : </label>
                    <input name="from" th:value="${from}" class="form-control"
                           th:type="date" id="from" required=""/>

                    <label for="to" class="control-label" style="color: #5bc0de;font-size: 30px">по : </label>
                    <input name="to" th:value="${to}" class="form-control"
                           th:type="date" id="to" required=""/>

                    <button class="btn btn-default" name="del" type="submit">Показать
                    </button>
                </form>
            </center>
        </div>
    </div>
    <hr/>
    <div class="tabbed">
        <input type="radio" name="tabs" id="tab-nav-1" checked=""/>
        <label for="tab-nav-1">Клиенты</label>
        <input type="radio" name="tabs" id="tab-nav-2"/>
        <label for="tab-nav-2">Смены</label>
        <input type="radio" name="tabs" id="tab-nav-3"/>
        <label for="tab-nav-3">Сотрудники</label>
        <input type="radio" name="tabs" id="tab-nav-4"/>
        <label for="tab-nav-4">Зарплата</label>
        <input type="radio" name="tabs" id="tab-nav-5"/>
        <label for="tab-nav-5">Прочие расходы</label>

        <div class="tabs">
                <div class="table">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th> Общий чек</th>
                                <th> Оплата наличными</th>
                                <th> Оплата по клубной карте</th>
                                <th> Стоимость меню</th>
                                <th> Стоимость времени</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="client : ${totalStat.clients}">
                                <td th:text="${client.allPrice}"></td>
                                <td th:text="${client.cache}"></td>
                                <td th:text="${client.payWithCard}"></td>
                                <td th:text="${client.priceMenu}"></td>
                                <td th:text="${client.priceTime}"></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="table">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th> Дата</th>
                                <th></th>
                                <th> Касса</th>
                                <th></th>
                                <th> Прибыль грязными</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="shift : ${shifts}">
                                <td th:text="${shift.shiftDate}"></td>
                                <td></td>
                                <td th:text="${shift.cashBox}"></td>
                                <td></td>
                                <td th:text="${shift.profit}"></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="table">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th> ФИО</th>
                                <th> Должность</th>
                                <th> Зарплата</th>
                                <th> Бонус</th>
                                <th> Оклад за смену</th>
                                <th> Количество смен</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${totalStat.users}">
                                <td th:text="${user.firstName + ' '+ user.lastName}"></td>
                                <td th:text="${user.positions}"></td>
                                <td th:text="${user.salary}"></td>
                                <td th:text="${user.bonus}"></td>
                                <td th:text="${user.shiftSalary}"></td>
                                <td th:text="${user.shifts.size()}"></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="table">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th> Дата</th>
                                <th> Описание</th>
                                <th> Цена</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="salariesGoods : ${totalStat.salariesGoods}">
                                <td th:text="${salariesGoods.date}"></td>
                                <td th:text="${salariesGoods.name}"></td>
                                <td th:text="${salariesGoods.price * salariesGoods.quantity} % 1 == 0
                     ? ${#numbers.formatDecimal((salariesGoods.price * salariesGoods.quantity), 0, 0)}
                     : ${#numbers.formatDecimal((salariesGoods.price * salariesGoods.quantity), 0, 2)}"></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="table">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th> Дата</th>
                                <th> Описание</th>
                                <th> Категория</th>
                                <th> Цена</th>
                                <th> Количество</th>
                                <th> Сумма</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="allGoods : ${totalStat.otherGoods}">
                                <td th:text="${allGoods.date}"></td>
                                <td th:text="${allGoods.name}"></td>
                                <td th:text="${allGoods.category.name}"></td>
                                <td th:text="${allGoods.price} % 1 == 0
                 ? ${#numbers.formatDecimal(allGoods.price, 0, 0)}
                 : ${#numbers.formatDecimal(allGoods.price, 0, 2)}">
                                </td>
                                <td th:text="${allGoods.quantity} % 1 == 0
                 ? ${#numbers.formatDecimal(allGoods.quantity, 0, 0)}
                 : ${#numbers.formatDecimal(allGoods.quantity, 0, 2)}">
                                </td>
                                <td th:text="${allGoods.price * allGoods.quantity} % 1 == 0
                 ? ${#numbers.formatDecimal((allGoods.price * allGoods.quantity), 0, 0)}
                 : ${#numbers.formatDecimal((allGoods.price * allGoods.quantity), 0, 2)}"></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
        </div>
    </div>
</div>

<div th:replace="fragments/bossChangePassword :: BossChangePassword">
</div>
<div th:replace="media/advertisingDispatch :: advertising"></div>
<script th:src="@{/js/mail.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.6/prefixfree.min.js"></script>
</body>
</html>
