<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:include="fragments/headTag :: bootstrap" th:remove="tag"></div>
    <link rel="stylesheet" th:href="@{/css/costs.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/statisticTabs.css}" type="text/css"/>
</head>
<body>
<div th:replace="bossnavbar :: bossNavbar"></div>
<!--/.navbar -->


<div class="col-md-7 col-sm-offset-3">
        <div class="row" style="margin-top: 5%">
            <h1 style="color: #5bc0de;">
                Статистика за период с: <span th:text="${from} + ' по ' + ${to}"></span></h1>
        </div>
        <hr/>
        <div class="row">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#shortStatistic">
                Краткая статистика
            </button>
        </div>
        <div>
            <div id="shortStatistic" class="collapse">
                <table class="table table-striped" style="margin-top: 3%">
                    <thead>
                    <tr>
                        <th>Касса</th>
                        <th>Прибыль грязными</th>
                        <th>Прочие расходы</th>
                        <th>Зарплатные расходы</th>
                        <th>Количество клиентов</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${cashBox}"></td>
                        <td th:text="${totalStat.profit}"></td>
                        <td th:text="${totalStat.otherCosts}"></td>
                        <td th:text="${totalStat.salariesCosts}"></td>
                        <td th:text="${totalStat.clientsOnDetails.size()}"></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <hr/>
        <div class="row">
            <form class="form-inline" role="form" th:method="post" action="/boss/totalStatistics/searchByDate">
                <label for="from" class="control-label" style="color: #5bc0de;font-size: 30px">Дата смены с : </label>
                <input name="from" th:value="${from}" class="form-control"
                       th:type="date" id="from" required=""/>

                <label for="to" class="control-label" style="color: #5bc0de;font-size: 30px">по : </label>
                <input name="to" th:value="${to}" class="form-control"
                       th:type="date" id="to" required=""/>

                <button class="btn btn-default" name="del" type="submit">Показать
                </button>
            </form>
        </div>

    <hr/>
    <div class="row tabbed">
        <input type="radio" name="tabs" id="tab-nav-1" checked=""/>
        <label for="tab-nav-1">Клиенты</label>
        <input type="radio" name="tabs" id="tab-nav-2"/>
        <label for="tab-nav-2">Смены</label>
        <input type="radio" name="tabs" id="tab-nav-3"/>
        <label for="tab-nav-3">Сотрудники</label>
        <input type="radio" name="tabs" id="tab-nav-4"/>
        <label for="tab-nav-4">Прочие расходы</label>
        <input type="radio" name="tabs" id="tab-nav-5"/>
        <label for="tab-nav-5">Долги</label>

        <div class="tabs">
            <div class="table">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th th:unless="${cardEnable}"> Общий чек</th>
                            <th th:if="${cardEnable}"> Оплата наличными</th>
                            <th th:if="${cardEnable}"> Оплата по клубной карте</th>
                            <th> Стоимость прочего меню</th>
                            <th> Стоимость грязного меню</th>
                            <th> Стоимость времени</th>
                        </tr>
                        <tr style="text-align: center; background: #DAEEFF">
                            <td id="commonCheckSum" th:unless="${cardEnable}">Сумма чеков:<br/></td>
                            <td id="cashPaymentSum" th:if="${cardEnable}">Всего наличными:<br/></td>
                            <td id="clubCardPaymentSum" th:if="${cardEnable}">Всего картами:<br/></td>
                            <td id="menuOtherSum">Прочее меню:<br/></td>
                            <td id="menuDirtySum">Грязное меню:<br/></td>
                            <td id="timeCostSum">Всего по времени:<br/></td>
                        </tr>
                        </thead>
                        <tbody id="clients">
                        <tr th:each="pair : ${totalStat.clientsOnDetails.entrySet()}">
                            <td class="commonCheck"
                                th:text="${pair.getValue().allDirtyPrice + pair.getValue().otherPriceMenu}"
                                th:unless="${cardEnable}"></td>
                            <td class="cashPayment" th:text="${pair.getKey().cache}" th:if="${cardEnable}"></td>
                            <td class="clubCardPayment" th:text="${pair.getKey().payWithCard}"
                                th:if="${cardEnable}"></td>
                            <td class="menuOtherCost" th:text="${pair.getValue().otherPriceMenu}"></td>
                            <td class="menuDirtyCost" th:text="${pair.getValue().dirtyPriceMenu}"></td>
                            <td class="timeCost" th:text="${pair.getKey().priceTime}"></td>

                            <script type="text/javascript">

                            </script>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td th:unless="${cardEnable}"></td>
                            <td th:if="${cardEnable}"></td>
                            <td th:if="${cardEnable}"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="table">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th> Дата</th>
                            <th></th>
                            <th> Касса</th>
                            <th></th>
                            <th> Прибыль грязными</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="shift : ${shifts}">
                            <td th:text="${shift.shiftDate}"></td>
                            <td></td>
                            <td th:text="${shift.cashBox} + ${shift.bankCashBox}"></td>
                            <td></td>
                            <td th:text="${shift.profit}"></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="table">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th> ФИО</th>
                            <th> Должность</th>
                            <th> Зарплата</th>
                            <th> Бонус</th>
                            <th> Оклад за смену</th>
                            <th> Количество смен</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${totalStat.users}">
                            <td th:text="${user.firstName + ' '+ user.lastName}"></td>
                            <td th:text="${user.positions}"></td>
                            <td th:text="${user.salary}"></td>
                            <td th:text="${user.bonus}"></td>
                            <td th:text="${user.shiftSalary}"></td>
                            <td th:text="${user.shiftAmount}"></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="table">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th> Дата</th>
                            <th> Описание</th>
                            <th> Категория</th>
                            <th> Цена</th>
                            <th> Количество</th>
                            <th> Сумма</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="allCost : ${totalStat.listOfOtherCosts}">
                            <td th:text="${allCost.date}"></td>
                            <td th:text="${allCost.name}"></td>
                            <td th:text="${allCost.category.name}"></td>
                            <td th:text="${allCost.price} % 1 == 0
                 ? ${#numbers.formatDecimal(allCost.price, 0, 0)}
                 : ${#numbers.formatDecimal(allCost.price, 0, 2)}">
                            </td>
                            <td th:text="${allCost.quantity} % 1 == 0
                 ? ${#numbers.formatDecimal(allCost.quantity, 0, 0)}
                 : ${#numbers.formatDecimal(allCost.quantity, 0, 2)}">
                            </td>
                            <td th:text="${allCost.price * allCost.quantity} % 1 == 0
                 ? ${#numbers.formatDecimal((allCost.price * allCost.quantity), 0, 0)}
                 : ${#numbers.formatDecimal((allCost.price * allCost.quantity), 0, 2)}"></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="table">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th> Всего</th>
                            <th> Дата</th>
                            <th> Прайс</th>
                            <th> Должник</th>
                            <th> Состояние</th>
                        </tr>
                        </thead>
                        <tbody id="givenPrice">
                        <tr th:each="givenDebt : ${totalStat.givenDebts}">
                            <td th:text="${givenDebt.date}"></td>
                            <td class="specificGivenPrice" th:text="${givenDebt.debtAmount}"></td>
                            <td th:text="${givenDebt.debtor}"></td>
                            <td>Не возвращено</td>
                        </tr>
                        </tbody>
                        <tbody id="repaidPrice">
                        <tr th:each="repaidDebt : ${totalStat.repaidDebt}">
                            <td th:text="${repaidDebt.date}"></td>
                            <td class="specificRepaidPrice" th:text="${repaidDebt.debtAmount}"></td>
                            <td th:text="${repaidDebt.debtor}"></td>
                            <td>Возвращено</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>

<div th:replace="fragments/bossChangePassword :: BossChangePassword">
</div>
<div th:replace="media/advertisingDispatch :: advertising"></div>
<script th:src="@{/js/mail.js}"></script>
<script th:src="@{/js/clients/clients.js}"></script>
<script th:src="@{/js/totalStatistics.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.6/prefixfree.min.js"></script>
</body>
</html>
