<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/js/filter.js}" ></script>
</head>

<body>
<table class="table table-condensed table-responsive custom" th:fragment="workerList">
    <tr>
        <th><h3> # </h3></th>
        <th><h3> Имя </h3></th>
        <th><h3> Фамилия </h3></th>
        <th><h3> Должность </h3></th>
        <th><h3> Оклад За смену </h3></th>
        <th><h3> Смены </h3></th>
        <th><h3> Зарплата </h3></th>
        <th><h3> Действия </h3></th>
        <th></th>
    </tr>
    <tbody class="searchable">
    <tr th:each="worker : ${workerList}">
        <td class="custom" th:text="${worker.id}"></td>
        <td class="custom" th:text="${worker.firstName}"></td>
        <td class="custom" th:text="${worker.lastName}"></td>
        <td class="custom" th:text="${worker.position}"></td>
        <td class="custom" th:text="${worker.shiftSalary}"></td>
        <td class="custom" th:text="${worker.countShift}"></td>
        <td class="custom" th:text="${worker.salary}"></td>
        <td class="col-lg-2 custom" ><a class="custom" th:href="'#a'+${worker.id}" data-toggle="modal" >Редактировать</a></td>
        <td class="col-lg-2 custom" ><a class="custom" th:href="'#b'+${worker.id}" data-toggle="modal" >Удалить</a></td>


        <div class="modal fade" th:id="'a'+${worker.id}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="form-signin-heading">Форма Редактирования Сотрудника</h2>
                    </div>
                    <div class="modal-body">

                        <form class="form-signin" action="/accounting/editWorker" method="post">

                            <h4>ID</h4>
                            <input type="text" class="form-control" readonly="readonly" th:value="${worker.id}" name="id"/>

                            <h4>Имя</h4>
                            <input type="text" class="form-control" th:value="${worker.firstName}" name="firstName"/>
                            <br></br>


                            <h4>Фамилия</h4>
                            <input type="text" class="form-control" th:value="${worker.lastName}" name="lastName"/>
                            <br></br>


                          <div th:switch="${worker.position}">
                            <h4>Должность</h4>

                              <p th:case="Управляющий">
                              <div th:each="manager : ${managerList}">
                                  <input type="text" class="form-control" th:value="${worker.position}" name="position"/>
                                  <br></br>
                                                            <h4>Login</h4>
                                                    <input type="text" class="form-control" th:value="${manager.login}" name="login"/>
                                  <br></br>
                                                            <h4>Password</h4>
                                                        <input type="text" class="form-control" th:value="${manager.password}" name="password"/>
                          </div>
                              </p>
                              <p th:case="Кальянщик"><input type="text" class="form-control" th:value="${worker.position}" name="position"/>
                              </p>

                              <p th:case="Хостесс"><input type="text" class="form-control" th:value="${worker.position}" name="position"/>
                              </p>
                          </div>
                                <br></br>
                            
                            <h4>Оклад За Смену</h4>
                            <input type="text" class="form-control" th:value="${worker.shiftSalary}" name="shiftSalary"/>
                            <br></br>


                            <button type="submit" class="btn btn-lg btn-primary btn-block">Изменить Данные</button>
                            <br></br>
                        </form>

                        <div  class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="modal fade" th:id="'b'+${worker.id}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="form-signin-heading">Форма Удаления Сотрудника</h2>
                    </div>
                    <div class="modal-body">
                <h3>Удалить сотрудника?</h3>
                        <br></br>
                        <form class="form-signin" action="/accounting/deleteWorker" method="post">

                            <input type="hidden" class="form-control" readonly="readonly" th:value="${worker.id}" name="id"/>

                            <h4>Имя</h4>
                            <input type="text" class="form-control" th:value="${worker.firstName}" name="firstName"/>
                            <br></br>


                            <h4>Фамилия</h4>
                            <input type="text" class="form-control" th:value="${worker.lastName}" name="lastName"/>
                            <br></br>


                            <div th:switch="${worker.position}">
                                <h4>Должность</h4>

                                <p th:case="Управляющий">
                                <div th:each="manager : ${managerList}">
                                    <input type="text" class="form-control" th:value="${worker.position}" name="position"/>
                                    <br></br>
                                    <h4>Login</h4>
                                    <input type="text" class="form-control" th:value="${manager.login}" name="login"/>
                                    <br></br>
                                    <h4>Password</h4>
                                    <input type="text" class="form-control" th:value="${manager.password}" name="password"/>
                                </div>
                                </p>
                                <p th:case="Кальянщик"><input type="text" class="form-control" th:value="${worker.position}" name="position"/>
                                </p>

                                <p th:case="Хостесс"><input type="text" class="form-control" th:value="${worker.position}" name="position"/>
                                </p>
                            </div>
                            <br></br>

                            <h4>Оклад За Смену</h4>
                            <input type="text" class="form-control" th:value="${worker.shiftSalary}" name="shiftSalary"/>
                            <br></br>


                            <button type="submit" class="btn btn-lg btn-primary btn-block">Да</button>
                            <br></br>
                            <button type="button" class="btn btn-lg btn-primary btn-block" data-dismiss="modal">Нет</button>
                            <br></br>
                        </form>

                        <div  class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </tr>
    </tbody>
</table>
</body>
</html>
