<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="calculateModal">
    <div th:replace="closeShift :: closeShift"></div>
    <center>
        <button class="btn btn-info" data-toggle="modal" data-target="#calculateModal">Открыть счет</button>
    </center>

    <div id="calculateModal" class="modal fade">
        <div class="modal-dialog " style="width: 300px;margin-top: 50px" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Добавление счета</h4>
                </div>
                <div class="modal-body">
                    <h4> Описание</h4>
                    <form id="formMod" action="/manager/add-calculate" method="post">
                        <input autocomplete="off" style="font-size: 20px" class="form-control" type="text"
                               name="description" maxlength="30" required=""/>
                        <h4 style="margin-right: 50px; float: left">Кол-во человек</h4>
                        <h4>Стол</h4>

                        <input autocomplete="off" style="width: 90px;margin-right: 60px; float: left;font-size: 20px"
                               class="form-control" type="text"
                               name="number" list="data" maxlength="2" required=""/>
                    </form>
                    <datalist id="data">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </datalist>

                    <select class="form-control " form="formMod" style="width:110px;font-size: 17px" name="boardId">
                        <option value="-1"></option>
                        <c th:each="board : ${listBoard}">
                            <option th:value="${board.id}"><h4 th:text="${board.name}"></h4></option>
                        </c>
                    </select>

                    <br/>
                    <br/>
                    <button form="formMod" class="btn btn-primary" type="submit">Создать</button>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/shift/close.js}"></script>
</div>
</body>
</html>