<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="checkModal">

    <style> .cent {
        text-align: center;
    } </style>
    <div th:if="${!calculate.isPause()}">
        <button th:onclick="'ajaxModal(\'' + ${calculate.id} + '\', \'' + ${cardEnable} + '\');'" style="float: right" class="btn btn-danger">
            Рассчитать
        </button>
    </div>
    <br/><br/>
    <div th:id="'checkModal' + ${calculate.id}" class="modal"><!--class="modal "-->
        <div class="modal-dialog " style="width: 1000px;margin-top: 50px">
            <div class="modal-content" style="height:630px;">
                <button style="background: rgba(170,170,170,0);border: none;float: right;margin-top: 10px;margin-right: 10px"
                        type="button" data-dismiss="modal">
                    <i class="fa fa-times" aria-hidden="true" style="font-size: 30px"></i>
                </button>
                <p th:id="'head' + ${calculate.id}" style="font-size: 30px;margin-left: 10px;margin-top: 20px">
                    Пусто </p>
                <div class="modal-body">
                    <div style="width: 968px; height: 400px;border-radius:5px;box-shadow: 0px 0px 2px 1px; overflow: auto">

                        <table class="table ">

                            <thead>
                            <tr style="font-size: 17px">
                                <th class="cent" style="text-align: center;" th:if="${cardEnable}">Карта</th>
                                <th class="cent">Описание</th>
                                <th class="cent">Время</th>
                                <th class="cent">₽ за время</th>
                                <th class="cent">Заказ</th>
                                <th class="cent">Скидка</th>
                                <th class="cent" th:if="${cardEnable}">С карты</th>
                                <th class="cent">Кэш</th>
                            </tr>

                            </thead>

                            <tbody th:id="'tb' + ${calculate.id}" style="font-size: 20px">

                            </tbody>
                        </table>
                    </div>
                    <div style="width: 968px;">
                        <div class="row">
                            <div class="col-md-1">

                                <button type="button" data-toggle="modal"
                                        th:attr="data-target='#enterDebtorName'+${calculate.id }"
                                        style="font-size:20px;" class="btn btn-danger">Рассчитать в долг
                                </button>

                                <div th:id="'enterDebtorName' + ${calculate.id}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Укажите имя должника</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p class="bg-danger" style="display: none;" th:id="'debtorNameError' + ${calculate.id}">Обязательно укажите имя должника!</p>
                                                <p><input th:id="'debtorName' + ${calculate.id}"
                                                        name="user" required="required" placeholder="Имя должника"/></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button"
                                                        th:onclick="'closeClientDebt(\'' + ${calculate.id} + '\');'"
                                                        style="font-size:20px;" class="btn btn-danger">Рассчитать в долг
                                                </button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-1 col-md-offset-7">
                                <th:block th:if="${cardEnable}">
                                    <p style="font-size: 30px;">Карты:<br/>Кэш:</p>
                                </th:block>

                                <th:block th:unless="${cardEnable}">
                                    <p style="font-size: 30px;">Кэш:</p>
                                </th:block>
                            </div>

                            <div class="col-md-1 nopadding">
                                <p style="font-size: 30px;" th:id="'all' + ${calculate.id}"></p>
                            </div>

                            <div class="col-md-1">
                                <button type="submit" th:form="'formTest' + ${calculate.id}" formaction="/manager/close-client"
                                        style="font-size:20px;" class="btn btn-danger">Рассчитать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>