<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="modal fade" tabindex="-1" role="dialog" th:id="'timeEditModal' + ${client.id}" th:fragment="timeEditModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Измение времени начала клиента</h4>
            </div>
            <div class="modal-body">
                <div th:class="'messageEdit' + ${client.id}"></div>
                <div class="form-group">
                    <div class="row">
                        <label th:for="'editHours' + ${client.id}"
                               class="col-md-offset-1 col-sm-2 control-label">Часы</label>
                        <div class="col-md-4">
                            <input type="number" min="0" max="23" class="form-control" aria-label="
Часы" placeholder="Часы"
                                   required="required" th:id="'editHours' + ${client.id}"/>
                        </div><!-- /.col-lg-6 -->
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label th:for="'editMinutes' + ${client.id}" class="col-md-offset-1 col-sm-2 control-label">Минуты</label>
                        <div class="col-md-4">
                            <input type="number" min="0" max="59" class="form-control" aria-label="Минуты"
                                   placeholder="Минуты" required="required" th:id="'editMinutes' + ${client.id}"/>
                        </div><!-- /.col-lg-6 -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                <button type="submit" class="btn btn-success"
                        th:onclick="'editClientTimeStart(\'' + ${client.id} + '\');'">Изменить
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>
</html>